$break-large: 1000px;

.wrap {
	position: relative;
	width: 100%;
	margin-bottom: 30px;
	text-align: center;
}

.prev {
	padding: 6px 20px 6px 20px;
	left: 0px;
}
.next {
	padding: 6px 20px 6px 20px;
	right: 0px;
}
.prev, .next {
	cursor: pointer;
    position: absolute;
   
    padding-top: 20%;
    z-index: 222;
    font-size: 40px;
    width: 60px;
    height: calc( 100% - 50px );
    
    background: rgba(220,220,220,0.6);

    color: #523F3F;
}
.prev:hover, .next:hover {
	background: rgba(220,220,220,0.8);
}
.slideImgLoading {
	width: 100%;
	opacity: 0.5;
	
}
.slideImg {
	width: 100%;
	opacity: 1;
	transition: all 0.4s ease-out;
	
}
.inactiveSlideImg {
	width: 10%;
}
.activeSlideImg {
	width: 100%;
}
.pageWrap {
	
}
.page {
	display: inline-block;
	cursor: pointer;
	background: rgb(240,237,233);
    display: inline-block;
    margin: 3px;
    padding-top: 10px;
    width: 40px;
    height: 40px;
}
.page:hover, .activePage {
	color: white;
    background: #523F3F;
}