.wrap {
	display: inline-block;
	text-align: left;
}
.title {
	text-align: center;
}
.avatarImg {
    width: 40px;
    height: 40px;
    margin: 4px;

    border-radius: 50%;
    border-width: 3px;
    border-style: solid;

    display: inline-block;

    cursor: pointer;
} 
.avatarImg:hover, .avatarImgActive {
    box-shadow: 0 0 0 4px rgb(180,180,180);
}

.KMT {
    border-color: #000095;
}
.DPP {
    border-color: #009A00;
}
.PFP {
    border-color: #FE6407;
}
.TSU {
    border-color: #A25B09;
}
.NP {
    border-color: gray;
}
.NPU {
    border-color: rgba(194,15,81,0.9);
}

