$themeColor: #006060;
$navHeight: 50px;
$paddingHeight: 15px; /* (50-20)/2 */

.appbar {
	background: $themeColor;
	
	padding: 0px;
}
.siteLogo {
	float: left;
	width: 220px;
	margin-top: 5px;
	margin-left: 10px;
}
ul.lists {
	display: inline-block;
	list-style-type: none;
}
.lists li {
	margin: 0;
	display: inline-block;
}
.navItem, .navItem:visited {
	color: white;
	text-decoration: none;
	padding: $paddingHeight;
	height: $navHeight;
}
.navItem:hover {
	background: lighten( $themeColor, 10% );
}