@import '../../common.scss';
$navHeight: 54px;
$paddingHeight: 11px; // (54 - 32 (symbol高))/2
$breakLarge: 800px;

.appbar {
	background: $themeColor;
	padding: 0px;
	height: $navHeight;
  //box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.appbar.showMenu {
	height: auto;
}
.inner {
	max-width: 1200px;
	position: relative;
	margin: 0 auto;
}
.siteName, .siteName:visited {
	left: 0px;
	text-decoration: none;
}

.siteLogo {
	float: left;
	height: $navHeight;
	margin: 0;
	margin-left: 10px;
	padding: 0;
}
.lists {
	max-height: 0px;
	overflow: hidden;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	float: left;
	display: block;
}
.lists.showMenu {
	float: none;
	width: 100%;
	max-height: 1000px;
	-webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.lists li {
	margin: 0;
}
.navItem, .navItem:visited {
	display: block;
	color: $textColor;
	text-decoration: none;
	padding: $paddingHeight;
	height: $navHeight;
}
.navItem:hover, .navItem.active {
	background: rgba(0, 255, 255, 0.15); //darken($themeColor, 5%);
	border-bottom: 4px solid aqua;
}
.navItem > * {
	display: inline-block;
	vertical-align: middle;
}
.rightToggle {
	position: absolute;
	top: 15px;
	right: 20px;
	font-size: 20px;
	cursor: pointer;
	color: $textColor;
}
.icon {
	display: inline-block;
	margin-right: 3px;
}
@media screen and (min-width: $breakLarge){
	.appbar, .appbar.showMenu {
		text-align: right;
    height: $navHeight;
	}
	.siteName, .siteName:visited {
		position: absolute;
	}
    .lists {
    	max-height: 1000px;
   		display: inline-block;
   		list-style-type: none;
   		margin-top: 0;
   		float: none;

    }
    .lists li {
   		margin: 0;
   		display: inline-block;
    }
    .navItem {
    	display: inline-block;;
    }
    .rightToggle {
    	display: none;
    }
}
