@import '../../common.scss';
.wrap {
	position: relative;
	padding-bottom: 150px;
}
.configSection {
	max-width: 400px;
	margin: 80px auto;
	line-height: 2;
  padding: 10px;
}
/* should be refine later */

$baseFontSize: 16;
$primaryColor: #16a085;
@function rem($val) {
  @return #{$val / $baseFontSize}rem;
}
.list {
  padding: .5rem 1rem;
  margin: .5rem .5rem 2rem .5rem;    
  list-style-type: none;
}
.listItem {
  margin: 0 0 .5rem 0;
  padding: 0;
}
.radioLabel {
  position: relative;
  margin: .5rem;
  font-family: Arial, sans-serif;
  line-height: 135%;
  cursor: pointer;
}

.radio {
  position: relative;
  margin: 0 1rem 0 0 ;
  cursor: pointer;
  
  &:before {
    transition: all .4s cubic-bezier(.45,1.8,.5,.75);
    transform: scale(0,0);
    content: "";
    position: absolute;
    top: 0;
    left: rem(2);
    z-index: 1;
    width: rem(12);
    height: rem(12);
    border-radius: 50%;
  }
  
  &:checked {
    &:before {
     background: $awesomeColor;
     transform: scale(1,1); 
    }
  }
  
  &:after {
    content: "";
    
    position: absolute;
    top: rem(-4);
    left: rem(-2);
    
    width: 1rem;
    height: 1rem;
    
    background: #fff;
    
    border: 2px solid $awesomeColor;
    border-radius: 50%;
  }
}
.button {
	margin-left: calc(50% - 55px);
	display: block;
	background: $awesomeColor;
  border: none;
  padding: 3px 30px;
  color: white;
}

.rankResultSection {
	text-align: center;
}
.rankResultWrap {
	text-align: center;
	margin-bottom: 40px;
}
.rankResultTitle {
	font-size: 20px;
}
.resultPKer {
	padding: 10px;
	background: white;
    border: 1px solid #C2BDBD;
    display: inline-block;
    vertical-align: top;
    min-height: 190px;
    margin: 10px 4px;
}
/* 和你相同的議題是這些 */
.opinionGroups {
	display: inline-block;
	text-align: left;
}
@media all and (min-width: 400px){
	.opinionGroups {
		vertical-align: top;
		margin-top: 14px;
	}
}
.opinionGroup {
	margin-bottom: 10px;
	border-bottom: 1px dotted gray;
    margin: 0 14px 20px 14px;
    padding: 5px 0;
}
.peopleInfo {
	display: block;
	height: 200px;
}
.avatarImg {
	width: 120px;
	height: 80px;
	margin: 20px auto 0 auto;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}
@media all and (min-width: 400px){
	.peopleInfo {
		display: inline-block
	}
	.avatarImg {
		
	}
}

.avatarName {
	font-size: 24px;
	margin: 8px;
	width: 150px;
}
.totalPoints {
	font-size: 22px;
}
.opinionCount {
	font-size: 20px;
	font-weight: 800;
}
.circleCount {
	display: inline-block;
	text-align: center;
	font-size: 14px;
    padding: 0 10px;
}
.issueCircles {
	display: inline-block;
	vertical-align: top;
	min-width: calc(100vw - 160px);
}
@media all and (min-width: 450px){
	.issueCircles {
		min-width: 200px;
	}
}
.issueCircle {
	border-radius: 100%;
    background: #005060;
    border: 3px solid #A9C6CB;
    color: white;
    display: inline-block;
    width: 45px;
    height: 45px;
    vertical-align: top;
    margin: 2px;
    font-size: 13px;
    padding: 5px 2px;
    text-align: center;
}
.replay {
	cursor: pointer;
	border: 1px solid;
	display: inline-block;
	padding: 8px 20px;
}