@import '../../common.scss';
$breakMedium: 600px;
$breakLarge: 800px;
.home {
  position: relative;
  background-image: url('./images/bg-mobile.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 140px;
}
@media all and (min-width:$breakLarge){
  .home {
    background-image: url('./images/bg-web.png');
  }
}
.contentWrap {
  padding: 60px 0 0;
  //border-top: 1px solid rgb(232, 246, 251);
}
.innerWrap {
  max-width: 1200px;
  margin: 0 auto;
}
.alignCenter {
  text-align: center;
}
.coverItem, .coverItem:visited {
  display: inline-block;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto 50px auto;
  text-decoration: none;
}
.coverItem img {
  width: 260px;
}
.coverItem *, .coverItem:visited *{
  text-decoration: none;
  color: black;
}
.coverImg {
  cursor: pointer;
}
@-webkit-keyframes toChina {
  from { @include prefix(filter, drop-shadow(0 0 15px rgba(255, 222, 0, 0.75))); }
  to   { @include prefix(filter, drop-shadow(0 0 15px rgba(222, 41, 16, 0.75))); }
}
.coverItem:hover .coverImg {
  animation: toChina 4s;
  -webkit-animation-fill-mode: forwards;
}
.pageTitle {
  text-align: center;
  font-size: 26px;
  padding: 15px 0;
  margin: 35px 0 15px 0;
  color: $textColor;
}

.pageTitle {
  text-align: center;
  font-size: 26px;
  padding: 15px 0;
  margin: 35px 0 15px 0;
  color: $textColor;
}

h2 {
  font-size: 34px;
}
.aboutUsBlock {
  padding-top: 50px;
  background: rgb(220,220,220);
}
.aboutUsText {
  text-align: left;
  margin: 0 auto;
  line-height: 1.6;
  padding: 30px 10px 100px 10px;
  font-size: 18px;

}
