@import '../../common.scss';
@import '../../styles/actionButton.scss';
$positionTableWebBreak: 500px;
$maxWidth: 720px;
$rollLargeBreak: 800px;
.wrap {
	min-height: 60vw;
	background-image: url('../images/parties-mobile.jpg');
}
@media all and (min-width: $rollLargeBreak){
	.wrap {
		background: none;
	}
	.bgHolder {
	 	left: 0px;
	 	right: 0px;
	 	bottom: 0px;
	 	top: 0px;
	 	position: fixed;
	 	background-image: url('../images/parties-web.jpg');
	 	background-size: cover;
	 	transform: translateZ(0);
	 	pointer-events: none;
	 	z-index: -1;
	}
}
