@import '../../common.scss';
@import '../../styles/actionButton.scss';
$positionTableWebBreak: 500px;
$maxWidth: 720px;
$rollLargeBreak: 800px;
.wrap {
	min-height: 60vw;
	background-image: url('../images/parties-mobile.jpg');
}
@media all and (min-width: $rollLargeBreak){
	.wrap {
		background: none;
	}
	.bgHolder {
	 	left: 0px;
	 	right: 0px;
	 	bottom: 0px;
	 	top: 0px;
	 	position: fixed;
	 	background-image: url('../images/parties-web.jpg');
	 	background-size: cover;
	 	transform: translateZ(0);
	 	pointer-events: none;
	 	z-index: -1;
	}
}
.partyPosition {
	background: #eee;
	max-width: $maxWidth;
    margin: 0 auto;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.12);
    padding: 10px 0;
}
header {
	text-align: center;
	h2 {
	  margin: 20px 10px 0;
	  border-bottom: 1px solid #aaa;
	  padding-bottom: 10px;
	  font-size: 1.75em;
	  font-weight: normal;
	}
}
.partyPositionTable {
	width: 100%;
}
/* 議題 title */
.titleWrap.fixed {
	position: fixed;
	background: white;
    top: 0;
    width: 100%;
    max-width: $maxWidth;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.08);
}
.issueTitles {
	display: flex;
	padding: 8px 0;
}
.issueTitle {
	flex: 1;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
@media all and (min-width: $positionTableWebBreak){
	.issueTitle {
		font-size: 18px;
	}
}
.partyEntry, .partyEntry:visited {
	display: flex;
	padding: 10px 0;
	color: $black;
	text-decoration: none;
	cursor: pointer;
}
.partyEntry:hover {
	background: rgba($awesomeColor, 0.15);
}
.partyName {
  flex: 1.2;
  font-size: 14px;
  padding: 0 10px;
}
.party {
	margin-right: 4px;
}
@media all and (min-width: $positionTableWebBreak){
	.nameFlex {
		display: flex;
	}
	.party {
		margin: 3px 4px 3px 0;
		flex: 14px 0 0;
	}
	.partyName {
		text-align: left;
  		font-size: 16px;
		padding: 10px 0;
		margin-left: 10px;
	}
	.partyTitle {
		flex: 1;
	}
}
.position {
	text-align: center;
	flex: 1;
}
.record {
	vertical-align: middle;
	font-size: 0;
}
@media all and (min-width: $positionTableWebBreak){
	.record {
		width: 80px;
		display: inline-block;
	}
	.record.empty {
		display: inline-block;
	}
}
.recordSquare {
	margin-bottom: 5px;
	display: inline-block;

	&.level1 {
		width: 10px;
		height: 10px;
	}
	&.level2 {
		width: 20px;
		height: 20px;
	}
	&.level3 {
		width: 40px;
		height: 40px;
	}
	&.empty {
		width: 10px;
		height: 10px;
		border: 1px solid $lightGrey;
	}
}
.promise {
	width: 20px;
	display: inline-block;
	vertical-align: middle;
}
@media all and (min-width: $positionTableWebBreak){
	.recordSquare {
		margin: 0;
	}
	.promise {
		margin: 10px 0;
	}
	.bill {
		padding: 0 20px;
	}
}
.legend {
	text-align: center;
	margin: 20px 0;

	> img {
		display: inline-block;
		vertical-align: top;
	}
}
