@import '../../common.scss';
@import '../../styles/actionButton.scss';
$positionTableWebBreak: 500px;
.wrap {
	position: relative;
	padding: 50px 10px;

	padding-bottom: 150px;
	position: relative;
	background-size: auto 100%;
	background-image: 
		url('../images/grass-mobile.png');
	background-repeat: repeat;
	background-attachment:fixed;
}
@media all and (min-width:$positionTableWebBreak){
	.wrap {
		background-size: 100% auto;
    	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat;
    	background-position: 0 0, 0 33vw, 0 0, 0 0, 0 30vw;
    	background-image: 
    	  url('../images/animal-web.png'),
    	  url('../images/grass-web.png'),
    	  url('../images/tree-web.png'),
    	  url('../images/sky-web.png'),
    	  url('../images/grass-repeat-web.png');
	}
}
.partyPosition {
	background: #eee;
	max-width: 800px;
    margin: 0 auto;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.12);
    padding: 10px 0;
}
header {
	text-align: center;
}
.partyPositionTable {
	width: 100%;
}
/* 議題 title */
.titleWrap.fixed {
	position: fixed;
	background: white;
    top: 0;
    width: 100%;
    max-width: 800px;
}
.issueTitles {
	display: flex;
	padding: 10px 0;
}
.issueTitle {
	flex: 1;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
}
@media all and (min-width: $positionTableWebBreak){
	.issueTitle {
		padding: 10px 20px;
    	font-size: 20px;
	}
}
.partyEntry {
	display: flex;
	padding: 10px 0;
}
.partyEntry:hover {
	background: rgb(200,200,200);
}
.partyName {
	flex: 1;
    text-align: center;
    font-size: 14px;
    padding: 0 10px;
}
@media all and (min-width: $positionTableWebBreak){
	.partyName {
		text-align: left;
    	font-size: 16px;
    	padding: 10px;
	}
}
.position {
	text-align: center;
	flex: 1;
}
.record {
	vertical-align: top; 
}
.record.empty {
	display: none;
}
@media all and (min-width: $positionTableWebBreak){
	.record {
		width: 80px;
		display: inline-block;
	}
	.record.empty {
		display: inline-block;
	}
}
.recordSquare {
	margin: 0 5px;
	display: inline-block;
}
.recordSquare.level1 {
	width: 10px;
	height: 10px;
}
.recordSquare.level2 {
	width: 30px;
	height: 30px;
}
.recordSquare.level3 {
	width: 50px;
	height: 50px;
}
.promise {
	width: 20px;
}
@media all and (min-width: $positionTableWebBreak){
	.bill {
		padding: 0 20px;
	}
}
.legend {
	margin: 50px auto;
	display: block;
	width: 100%;
}
.goMatchSec {
	text-align: center;
	margin: 30px 0;
}
.birdTalk {
	font-size: 14px;
	margin: 10px auto;
    padding-left: 14px;
    color: white;
}
@media all and (min-width: $positionTableWebBreak){
	.birdTalk {
		color: $awesomeColor;
	}
}
