.wrap {
	position: relative;
}
.qaBox {
	border-bottom: 1px dotted #000;
    padding-bottom: 25px;
}
.qaQuestion {
	margin: 40px 0 10px 0;
    font-size: 22px;
    cursor: pointer;
}
.index {
	float: left;
	display: inline-block;
}
.mainQuestion {
	padding-left: 30px;
}
.qaQuestion:hover {
	color: #b7813c;
}
.qaAnswer {
	display: block;
	line-height: 1.5;
}
.qaAnswer p {
	text-indent: 36px;
}
.show {
	max-height: auto;
	transition: all 0.5s ease-in-out;
}
.hide {
	max-height: 0px;
	overflow: hidden;
}