@import '../../common.scss';

.wrap {
	position: relative;
}
.qaBox {
  padding-bottom: 25px;
	border-bottom: 1px solid #ccc;
}
.qaQuestion {
	margin: 40px 0 10px 0;
  font-size: 20px;
  cursor: pointer;
}
.index {
	float: left;
	display: inline-block;
	font-weight: bold;
}
.mainQuestion {
	padding-left: 30px;
}
.qaQuestion:hover {
	color: $awesomeColor;
}
.qaAnswer {
	display: block;
	line-height: 1.5;
}
.qaAnswer p {
	text-indent: 36px;
}
.show {
	max-height: auto;
	transition: all 0.5s ease-in-out;
}
.hide {
	max-height: 0px;
	overflow: hidden;
}
