$webVersionBreak: 800px;
.wrap {
    min-height: 100vh;
    width: 100%;
    position: relative;
    text-align: center;
}
.bgHolder {
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    position: fixed;
    background-image: url('../images/constituencies-web.jpg');
    background-size: cover;
    transform: translateZ(0);
    pointer-events: none;
    z-index: -1;
}
.instruction {
  	background: rgba(255,255,255,0.9);
  	padding: 20px;
    line-height: 1.6;
  	max-width: 400px;
  	margin: 30px auto;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.22);
}
@media all and (min-width: $webVersionBreak){
  .instruction {
    margin: 40px auto 0 auto;
  }
}
.web {
  display: none;
}
.mobile {
  display: block;
}
@media all and (min-width: $webVersionBreak){
  .web {
    display:block;
  }
  .mobile {
    display: none;
  }
}
