@import '../../common.scss';
.wrap {
	text-align: center;
	position: relative;
	//background: #e6e6e6;
}
.issueWrap {
}
.issueBlock, .issueBlock:visited {
	display: block;
	vertical-align: top;
	padding: 20px;
  color: $textColor;
}
.issueBlock:hover {
	background: $lightGrey;
}
@media all and (min-width: 400px){
	.issueWrap {
		padding: 20px 0;
	}
	.issueBlock, .issueBlock:visited {
		display: inline-block;
	}
}
