$cubeSize: 20px;
$ayeColor: #00FFB0;
$nayColor: #FF0055;
$unknownColor: #FFF800;
.wrap {
	text-align: center;
	position: relative;
}
.title {
	font-size: 22px;
	padding: 10px;
	margin-top: 30px;
}
/* match control */
.matcher {
	border: 1px solid;
	margin: 20px auto;
	padding: 20px;
	max-width: 800px;
	font-size: 20px;

}
.matchItem {
	display: inline-block;
	margin: 10px;
}
.matchOption {
	font-size: 16px;
	padding: 8px 16px;
	cursor: pointer;
	border: 3px dotted rgb(180,180,180);
	border-radius: 20px;
	margin: 10px 0;
	will-change: background;
	
}
.option_aye:hover, .option_aye.active {
	background: $ayeColor;
	border: 3px dotted transparent;
	color: white;
}
.option_nay:hover, .option_nay.active {
	background: $nayColor;
	border: 3px dotted transparent;
	color: white;
}
.option_none:hover, .option_none.active {
	background: gray;
	border: 3px dotted transparent;
	color: white;
}




/* 立委表態 */
.item {
	cursor: pointer;
	display: inline-block;
	margin: 20px;
	border: 2px solid;
}
.item:hover {
	box-shadow: 4px 4px 2px 0 rgba(0,0,0,0.2);
}
.link, .link:visited {
	color: rgb(53,55,54);
	text-decoration: none;
	display: block;
}
.name {
	vertical-align: top;
	padding-top: 14px;
	margin-left: 5px;
    text-align: center;
    display: inline-block;
    width: 60px;
}
.issueCubes {
	border-top: 1px solid;
	font-size: 20px;
}
.issueCube {
	display: inline-block;
	padding: 10px;
	vertical-align: top;
	color: black;
	width: 60px;
	border-right: 1px solid;
}
.issueCubeLast {
	display: inline-block;
	padding: 10px;
	vertical-align: top;
	color: black;
	width: 60px;

}
.aye {
	background: $ayeColor;
}
.nay {
	background: $nayColor;
}
.unknown {
	background: $unknownColor;
}
.none {
	background: gray;
}