$cubeSize: 20px;
$ayeColor: #00FFB0;
$nayColor: #FF0055;
$unknownColor: #FFF800;

.wrap {
	display: inline-block;
	position: relative;
}
.positionWrap {
	position: relative;
	float: left;
}
.positionCube {
	width: $cubeSize;
	height: $cubeSize;
	float: left;
	cursor: pointer;
}
.positionCube:hover, .positionCubeActive {
	border: 3px solid;
}
.aye {
	background: $ayeColor;
}
.nay {
	background: $nayColor;
}
.unknown {
	background: $unknownColor;
}
/* hover 上的時候顯示的文字 */
.activeCube {
	width: 100%;
	background: white;
	position: absolute;
	text-align: left;
	padding: 10px;
	font-size: 14px;
	line-height: 1.4;
	top: -100px;
	height:90px;
	width: 340px;
	border: 1px solid;
  	overflow: hidden;
	z-index: 1;
	box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.12);
}