@import '../../common.scss';
.wrap {
    min-height: 100vh;
    width: 100%;
    position: relative;
}
.bgHolder {
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    position: fixed;
    background-image: url('./images/hall.jpg');
    background-size: cover;
    transform: translateZ(0);
    pointer-events: none;
    z-index: -1;
}
.mainContent {
    top: 50px;;
    padding-top: 10vh;
    width: 100%;
    min-height: 100vh;
}
.areaFlag {
    background-image: url('./images/flag.png');
	position: absolute;
    background-size: 100% auto;
    right: 0;
    top: 0;
    width: 200px;
    color: white;
    text-align: center;
    padding: 70px 0;
    font-size: 22px;
}
.flagMeta, .flagMeta:visited {
    font-size: 14px;
    color: $black;
    padding-bottom: 1px;
    border-bottom: 1px solid;
    text-decoration: none;
    display: inline-block;
    
    position: absolute;
    bottom: -10px;
    left: calc(50% - 35px);
    cursor: pointer;
    text-align: center;

    z-index: 1;
    
}
.action {
    display: block;
    text-align: center;
}
.actionButton, .actionButton:visited {
    display: inline-block;
    border: 2px solid #0B5462;
    cursor: pointer;
    padding: 10px 30px;
    margin: 20px;
    background: #005060;
    box-shadow: 2px 3px 10px 0 rgba(0,0,0,0.12);
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.resultButton {
    cursor: pointer;
    border-bottom: 1px solid;
    display: inline-block;
    padding: 4px;
}
