@import '../../common.scss';
.wrap {
    min-height: 100vh;
    width: 100%;
    position: relative;
}
.bgHolder {
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    position: fixed;
    background-image: url('./images/hall.jpg');
    background-size: cover;
    transform: translateZ(0);
    pointer-events: none;
    z-index: -1;
}
.mainContent {
    width: 100%;
    min-height: 100vh;
    text-align: center;
}
.districtInfo {
    margin: 10px 0 30px 0;
}
.electCount {
    text-align: center;
    margin: 4px;
}
.currentLegislators {
    text-align: center;
    font-size: 14px;
}
.action {
    display: block;
    text-align: center;
}
.actionButton, .actionButton:visited {
    display: inline-block;
    border: 2px solid #0B5462;
    cursor: pointer;
    padding: 10px 30px;
    margin: 20px;
    background: #005060;
    box-shadow: 2px 3px 10px 0 rgba(0,0,0,0.12);
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.resultButton {
    cursor: pointer;
    border-bottom: 1px solid;
    display: inline-block;
    padding: 4px;
}
/* 協尋失蹤候選人 */
.partyRoll {
    position: relative;
    max-width: 500px;
    margin: 100px auto;
    text-align: center;
}
/* 上方字體圖片 */
.missingTitle {
    width: 100%;
    max-width: 70%;
    margin-top: calc(20vw + 20px);
}
@media all and (min-width: 500px){
    .missingTitle {
        max-width: 300px;
        margin-top: 35px;
    }
}
.partyRollEndpoint {
    background-image: url('./images/top.png');
    background-size: 100%;
    width: 100%;
    height: 20vw;
    position: absolute;
    left: 0;
}
@media all and (min-width: 500px){
    .partyRollEndpoint {
        height: 120px;
    }
}
.partyRollEndpoint.top {
    top: -20px;
}
@media all and (min-width: 500px){
    .partyRollEndpoint.top {
        top: -80px;
    }
}
.partyRollMain {
    width: 100%;
    padding: 20px 50px;
    line-height: 1.8;
    background-size: 100% auto;
    background-image: url(./images/main.png);
    text-align: left;
}
@media all and (min-width: 500px){
    .partyRollMain {
        padding: 20px 120px;
    }
}
.missingText {
    text-align: center;
    height: 70px;
    padding-left: 40px;
    margin-top: 70px;
}
@media all and (min-width: 500px){
    .missingText {
        margin-top: 0;
    }
}
.largeText {
    font-size: 46px;
    font-weight: 600;
    display: inline-block;
}
.smallText {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    padding-top: 37px;
    margin: 0 4px;
}
.partyRollEndpoint.bottom {
    bottom: -20px;
}
@media all and (min-width: 500px){
    .partyRollEndpoint.bottom {
        bottom: -80px;
    }
}
.noDataCandidate {
  display: inline-block;
}
.intro {
    margin: 0 0 30px 0;
}
.intro p {
    margin: 10px 0;
    line-height: 1.4;
    font-size: 14px;
}
.partyItem {
    margin-right: 4px;
    display: inline-block
}
.nameItem {
    display: inline-block;
    vertical-align: top;
}
.wantedLinkWrap {
    text-align: center;
    margin: 20px;
}
.wantedLink, .wantedLink:visited {
    display: inline;
    margin: 0 auto;
    color: #0f0f0f;
    border-bottom: 2px solid #0f0f0f;
    text-decoration: none;
    padding-bottom: 2px;
    font-size: 20px;
}
