@import '../../common.scss';
@import '../../styles/actionButton.scss';
$positionTableWebBreak: 500px;
$maxWidth: 720px;


.wrap {
	background: #eee;
	max-width: $maxWidth;
    margin: 0 auto;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.12);
    padding: 10px 0;
}
header {
	text-align: center;
	h2 {
    	margin: 20px 10px 0;
    	border-bottom: 2px solid #0F0F0F;
    	padding-bottom: 2px;
    	font-size: 1.75em;
    	font-weight: normal;
    	display: inline-block;
	}
}
/* 說明有誰回覆 */
.metaInfo {
  font-size: 12px;
  margin: 15px;
  line-height: 1.5;
}
.toggleSet {
  margin: 10px 0;
}
.toggle {
  display: inline-block;
  cursor: pointer;
  margin: 10px 10px 0 0;
  padding: 4px 10px;
  border: 1px solid rgba($awesomeColor, 0.15);
  will-change: background;
}
.toggle.active {
  transition: all .3s ease-in;
  background: rgba($awesomeColor, 0.15);
}

.positionTable {
	width: 100%;
}
/* 議題 title */
.titleWrap {
  position: relative;
  border-bottom: 1px solid #ccc;
}
.titleWrap.fixed {
	position: fixed;
	background: white;
    top: 0;
    width: 100%;
    max-width: $maxWidth;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.08);
    z-index: 1;
}
.titleWrap.after {
	position: absolute;
	bottom: 100px;
	background: white;

    width: 100%;
    max-width: $maxWidth;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.08);
    z-index: 1;
}
.issueTitles {
	display: flex;
	padding: 8px 0;
}
.issueTitle {
	flex: 1;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	padding-top: 8px;
}
@media all and (min-width: $positionTableWebBreak){
	.issueTitle {
		font-size: 18px;
	}
}
.unitEntry, .unitEntry:visited {
	display: flex;
	padding: 10px 0;
	color: $black;
	text-decoration: none;
	cursor: pointer;
}
.unitEntry:hover {
	background: rgba($awesomeColor, 0.15);
}
.unitName {
	flex: 1.2;
  	font-size: 14px;
  	padding: 0 10px;
}
.issueTitles .unitName {
	font-size: 12px;
	padding: 12px 8px;
}
.nameFlex {
	display: flex;
}
.prefix {
	flex: 14px 0 0;
	margin-right: 4px;
}
.number {
	text-align: center;
	font-weight: bold;
}
.party {

}
@media all and (min-width: $positionTableWebBreak){
	.prefix {
		flex: 40px 0 0 ;
	}
	.number {
    	display: inline-block;
    	margin-right: 4px;
    	text-align: right;
    	width: 18px;
    	margin-right: 4px;
	}
	.party {
		margin: 3px 4px 3px 0;
	}
	.unitName {
		text-align: left;
  		font-size: 16px;
		padding: 10px 0;
		margin-left: 10px;
	}
}
.unitTitle {
	flex: 1;
}
@media all and (min-width: $maxWidth){
	.unitTitle {
		flex: 120px 0 0;
	}
}
.unitTitleText{
	display: inline;
    border-bottom: 1px solid rgba(15, 15, 15, 0.86);
}
@media all and (min-width: $positionTableWebBreak){
	.unitTitleText {
		border: none;
	}
}

.position {
	text-align: center;
	flex: 1;
}
.record {
	vertical-align: middle;
	font-size: 0;
	position: relative;
}
@media all and (min-width: $positionTableWebBreak){
	.record {
		width: 80px;
		display: inline-block;
	}
	.record.empty {
		display: inline-block;
	}
}
.recordDetail {
	display: none;
}
@media all and (min-width: $positionTableWebBreak){
	.record:hover .recordDetail {
		display: block;
	    position: absolute;
	    font-size: 14px;
	    width: 146px;
	    line-height: 1.4;
	    background: rgba(0,0,0,0.8);
	    color: white;
	    text-align: left;
	    padding: 10px;
	    top: -90px;
	    left: -19px;
	    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.12);
	}
	.record.empty .recordDetail {
		display: block;
		top: -67px;
	}
	.record:hover .recordDetail:after {
		content: '';
		position: absolute;
		bottom: -10px;
	    left: 53px;
	    border-top: 10px solid #25282A;
	    border-left: 6px solid transparent;
	    border-right: 6px solid transparent;
	}
}

.recordSquare {
	margin-bottom: 5px;
	display: inline-block;

	&.level1 {
		width: 10px;
		height: 10px;
	}
	&.level2 {
		width: 20px;
		height: 20px;
	}
	&.level3 {
		width: 40px;
		height: 40px;
	}
	&.empty {
		width: 10px;
		height: 10px;
		border: 1px solid $lightGrey;
	}
}
@media all and (min-width: $positionTableWebBreak){
	.recordSquare {
		margin: 0;
	}
}
.promise {
	position: relative;
}
.promiseImg {
	width: 20px;
	display: inline-block;
	vertical-align: middle;
}
@media all and (min-width: $positionTableWebBreak){
	.promiseImg {
		margin: 10px 0;
	}
}
.promiseDetail {
	display: none;
}
@media all and (min-width: $positionTableWebBreak){
	.promise:hover .promiseDetail {
		display: block;
	    position: absolute;
	    font-size: 14px;
	    width: 70px;
	    text-align: center;
	    line-height: 1.4;
	    background: rgba(0, 0, 0, 0.8);
	    color: white;
	    padding: 7px 10px;
	    top: -35px;
	    left: 14px;
		box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.12);
	}
	.promise:hover .promiseDetail:after {
	    content: '';
	    position: absolute;
	    bottom: -10px;
	    left: 30px;
	    border-top: 10px solid #25282A;
	    border-left: 6px solid transparent;
	    border-right: 6px solid transparent;
	}
}


.legend {
	text-align: center;
	margin: 0 0 40px 0;

	> img {
		display: inline-block;
		vertical-align: top;
	}
}
