@import '../../common.scss';

.wrap {
	position: relative;
}
.innerWrap {
    text-align: center;
}
.collaboratorInfo {
	text-align: center;
  //margin: 0 -9%;
	padding: 10px 0;
  background: $lightGrey;
}
