@import '../../common.scss';
.spaceBar {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: $appBarHeightExtended;
}
@media screen and (min-width: $appBarBreakLarge) {
  .spaceBar {
    height: $appBarHeight;
  }
}
