@import '../../common.scss';
$breakLarge: 1400px;
.wrap {
	margin: 0;
}
.about {
	height: 300px;
	background: url(./images/about.png) top center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 60px;
	position: relative;
}
.title {
	text-align: center;
    font-size: 40px;
    width: 100%;
    margin: 70px auto 0 auto;
    display: inline-block;
}

@media all and (min-width: $breakLarge){
	.about {
		height: 400px;
	}
	.title {
		margin-top: 100px;
	}
}
.content {
	max-width: 800px;
	margin: 0 auto;
	
	line-height: 1.5;
    font-size: 18px;

    padding: 0 10px;
    

}