@import '../common.scss';
$rollLargeBreak: 800px;
.actionText {
  margin: 0 0 20px 0;
}
.actions {
  line-height: 1.25;
}
.actionButtons {
  font-size: 22px;
  position: relative;
  text-align: center;
  max-width: 420px;
  margin: 40px auto 30px auto;
}
.actionButton {
  display: inline;
  font-size: 24px;
  position: relative;
  margin: 0 4px;
  padding: 8px 20px;
  height: 40px;
  background: $awesomeColor;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.25);
  color: $white;
  border-radius: 0;
  cursor: pointer;
}
.actionButton:focus {
  outline: none;
}
.actionButton:hover {
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.5);
}
.goMatch, .goMatch:visited {
  cursor: pointer;
  display:inline-block;
  margin: 0 auto;
  background: $awesomeColor;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 0 12px 0 rgba(240, 240, 240, 0.3), 0 0 12px 0 rgba(240, 240, 240, 0.3)
}
.goMatch:hover {
  box-shadow: 2px 2px 32px 0 rgba(240, 240, 240, 0.5), -2px -2px 32px 0 rgba(240, 240, 240, 0.5)
}
.goTable, .goTable:visited {
  color: $white;
  border-bottom: 1px solid;
  margin: 20px auto;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
}
@media all and (min-width:$rollLargeBreak){
  .goTable, .goTable:visited {
    color: $black;
  }
}
