@import '../../common.scss';

$breakSmall: 440px;
$breakLarge: 800px;
.wrap{
  position: relative;
  background: #e6e6e6;
  min-height: 500px;

}
.innerWrap {
  text-align: center;
}
.figHeader {
  min-height: 80px;
  max-width: 800px;
  margin: 50px auto 0 auto;
}
.issueBlock {
  margin: 0 auto;
  font-size: 20px;
}
.issueTitle {
  display: inline-block;
  background: $black;
  color: $white;
  padding: 10px 20px;
}
.issueStatement {
  padding: 10px 20px;
}
.issueController {
  margin: 10px 0;
}
@media all and (min-width: $breakLarge){
	.issueBlock {
    width: auto;
	}
}
.records {
  margin: 60px auto;
  position: relative;
  text-align: center;
  padding-bottom: 100px;
}
.link, .link:visited {
  color: #b88234;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}
.link:hover {
  color: #b88234;
  text-decoration: underline;

}
.moreInfo {
	background: white;
	line-height: 2;
	text-align: left;
	padding-bottom: 50px;
}
.moreInfoInner {
	max-width: 1200px;
	margin: 0 auto;
	padding: 40px 10px;
	font-size: 22px;
  color: rgb(53,55,54);
}
.linkButton, .linkButton:visited {
	color: #D6A051;
    border: 2px solid #D6A051;
    padding: 0px 10px;
    font-size: 18px;
    margin: 0 10px 0px 10px;
    display: inline-block;
    text-decoration: none;
}
.linkButton:hover {
	background: #D6A051;
	color: white;
}
.comingButton {
	color: #D6A051;
    border: 2px dotted #D6A051;
    padding: 0px 10px;
    font-size: 18px;
    margin: 0 10px 0px 10px;
    display: inline-block;
    text-decoration: none;
}
