@import '../../common.scss';

$breakSmall: 440px;
$breakLarge: 800px;
.wrap{
  position: relative;
  background: #e6e6e6;
  min-height: 500px;

}
.innerWrap {
  text-align: center;
}
.figHeader {
  min-height: 80px;
  margin: 50px auto 0 auto;
}
.issueBlock {
  margin: 0 auto;
  font-size: 20px;
}
.issueTitle {
  display: none;
}
.issueStatement {
  color: rgb(63,63,63);
  background: rgb(221,221,221);
  padding: 16px 4px;
}
.issueController {
  margin: 40px 0 0 0;
  border-bottom: 1px solid silver;
}
@media all and (min-width: $breakLarge){
	.issueBlock {
    width: auto;
	}
}
.records {
  margin: 60px auto;
  position: relative;
  text-align: center;
  padding-bottom: 20px;
}
.mobileHint {
  padding: 20px;
  font-size: 16px;
  margin-top: 30px;
  color: #5A5656;
  border: 1px solid #766F6F;
  display: inline-block;

}
@media screen and (min-width: $appBarBreakLarge) {
  .mobileHint {
    display: none;
  }
}
