@import '../../common.scss';
.wrap {
	position: relative;
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #333 ), color-stop(100%,black));
    background: -webkit-radial-gradient(center, ellipse cover, #333 0%, black 100%);
    padding: 50px 0;
    width: 100%;
    overflow: hidden;
}
.partyFlow {
	position: relative;
	overflow: scroll;
	margin-bottom: 40px;
}
.partyRoll {
	display: inline-block;
	vertical-align: top;
	
    background-image: url('./images/roll-long.png');
    background-size: 100%;
    width: calc(100vw - 50px);
    height: calc(2.35 * (100vw - 50px));
    padding: 100px 10vw;
}

@media all and (min-width: 800px){
	.wrap {
		padding: 200px 0;
	}
	.partyFlow {
		min-height: 600px;
    	width: 100%;
    	-webkit-perspective: 600px;
    	overflow: visible;

	}
	.partyRoll {
		display: inline-block;
		vertical-align: top;
		
		border: none;
		background: none;

		background-image: url('./images/roll.png');
		background-size: 100%;
	
		width: 400px;
		height: 400px;
	
		transform-style: preserve-3d;
	    transition-property: all;
	    transition-duration: 300ms;
	    transition-timing-function: ease-out; 
	
	    position: absolute;
	    top: -100px;
	    left: 50%;
	
	    cursor: pointer;
	
	    padding: 90px 80px 10px 80px;
	    overflow: hidden;
	}
	.partyRoll.focus {
		width: 600px;
		height: 600px;
		padding: 140px 180px 10px 120px;
	}
}

.tempAction {
	width: 100%;
	text-align: center;
	margin-top: 140px;
}
.tempAction button {
	height: 80px;
	padding: 0 100px;
}
.control {
	background: white;
	display: flex;
}
.controlItem {
	flex: 1;
}
.partyTitle {
	font-weight: bolder;
	margin: 0 0 0 10px;
}
.columnBlock {
	min-height: 280px;
    overflow: hidden;
    padding-top: 10px;
}
.partyTitle {
	font-size: 20px;
}
.columnBlock {
	font-size: 16px;
}
@media all and (min-width: 800px){
	.partyTitle {
		font-size: 14px;
	}
	.columnBlock {
		font-size: 12px;
	}
	.partyRoll.focus .partyTitle {
		font-size: 20px;
	}
	.partyRoll.focus .columnBlock {
		font-size: 16px;
		height: auto;
	}
	.columnBlock.twoColumn {
		column-count: 2;
	}
}
.columnBlock ol{
	margin: 0;
}
.actions {
	text-align: center;
}
.goMatch, .goMatch:visited {
	display:inline-block;
	margin: 0 auto;
	background: $awesomeColor;
	text-decoration: none;
	color: white;
	padding: 10px 20px;
	box-shadow: 0 0 12px 0 rgba(240, 240, 240, 0.3), 0 0 12px 0 rgba(240, 240, 240, 0.3)
}
.goMatch:hover {
	box-shadow: 2px 2px 32px 0 rgba(240, 240, 240, 0.5), -2px -2px 32px 0 rgba(240, 240, 240, 0.5)
}
.goTable, .goTable:visited {
	color: rgb(240,240,240);
	border-bottom: 1px solid;
	margin: 20px auto;
	display: inline-block;
	text-decoration: none;
}
.goTable:hover {
	color: white;
}

