@import '../../common.scss';
@import '../../styles/actionButton.scss';
.wrap {
	min-height: 60vw;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url('../images/bg-web.png');
}

/* 說明 */
.initialWrap {
	padding-top: 40px;
}
.story {
	max-width: 400px;
    margin: 0px auto 40px auto;
    padding: 20px;
    line-height: 1.6;
    background: white;
    box-shadow: 2px 2px 0 0 rgba(0,0,0,0.12);
}
.actions {
	text-align: center;
}