@import '../../common.scss';
@import '../../styles/actionButton.scss';
$tableWebBreak: 1000px;
.wrap {
	position: relative;
	padding-bottom: 150px;
  
  position: absolute;
  width: 100%;
  min-height: 100vh;

  background-size: 100%;
  background-image: url('../images/bg.png'), url('../images/grass.png');
  background-repeat: no-repeat, repeat;
  background-attachment:fixed;
}

/* -----------------
/* CONFIG */

.configSection {
	max-width: 360px;
	margin: 40px auto;
	line-height: 2;
  padding: 10px;
  background: white;
  box-shadow: 3px 3px 0 0 rgba(0,0,0,0.12);
}
/* should be refine later */

$baseFontSize: 16;
$primaryColor: #16a085;
@function rem($val) {
  @return #{$val / $baseFontSize}rem;
}
.list {
  padding: .5rem 1rem;
  margin: .5rem .5rem 2rem .5rem;    
  list-style-type: none;
}
.listItem {
  margin: 0 0 .5rem 0;
  padding: 0;
}
.radioLabel {
  position: relative;
  margin: .5rem;
  font-family: Arial, sans-serif;
  line-height: 135%;
  cursor: pointer;
}

.radio {
  position: relative;
  margin: 0 1rem 0 0 ;
  cursor: pointer;
  
  &:before {
    transition: all .4s cubic-bezier(.45,1.8,.5,.75);
    transform: scale(0,0);
    content: "";
    position: absolute;
    top: 0;
    left: rem(2);
    z-index: 1;
    width: rem(12);
    height: rem(12);
    border-radius: 50%;
  }
  
  &:checked {
    &:before {
     background: $awesomeColor;
     transform: scale(1,1); 
    }
  }
  
  &:after {
    content: "";
    
    position: absolute;
    top: rem(-4);
    left: rem(-2);
    
    width: 1rem;
    height: 1rem;
    
    background: #fff;
    
    border: 2px solid $awesomeColor;
    border-radius: 50%;
  }
}
.button {
	margin-left: calc(50% - 55px);
	display: block;
	background: $awesomeColor;
  border: none;
  padding: 3px 30px;
  color: white;
}
/* -----------------
/* GAME */
/* billboard only in web version */

.billboardBlock {
    position: fixed;
    bottom: 200px;
    width: 1000px;
    left: calc(50% - 500px);
    z-index: 99;
}
.billboard {
   position: absolute;
  z-index: 10;
  display: inline-block;
}
.billboard.left {
  width: 340px;
  left: 10px;
}
.billboard.right {
  right: 10px;
  width: 340px;
  float: left;
  margin: 0;
}
.billboard.right .partyMenuItem:nth-child(5) {
  margin-left: 70px;
}


/* -----------------
/* RESULT */

.rankResultSection {
	text-align: center;
  margin-top: 180px;
  position: relative;
}
.positionTitle {
  font-size: 22px;
  font-weight: 600;
  background: rgba(250,250,250,0.82);
  padding: 2px 10px;
  margin-bottom: 10px;
}
@media all and (min-width:$tableWebBreak){
  .positionTitle {
    position: absolute;
    top: 0px;
    max-width: 40%;
    height: 32px;
  }
}
.rankResultWrap {
	text-align: center;
	margin-bottom: 40px;
}
.rankResultTitle {
	font-size: 20px;
}
.spectrum {
  position: relative;
  border-top: 1px solid white;
}
.hue {
  position: relative;
  width: 100%;
  min-height: 60px;
  background: rgba(250,250,250,0.3);
  border-top: 2px dashed rgba(250,250,250,0.4);
}
.hue.empty {
  display: none;
  background: none;

}
@media all and (min-width: 800px){
  .hue.empty {
    display: block;
    background: none;
  }
}
.huePoint {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 26px;
  font-weight: 600;
  display: inline-block;
  width: 30px;
  height: 100%;
}
.hueItemBlock {
  margin-right: 30px; 
}
@media all and (min-width:$tableWebBreak){
  .huePoint {
    right: 30px;
    padding-top: 16px;
  }
}

.hueItem {
  display: inline-block;
  margin: 18px 2px;
  cursor: pointer;
}
/* 沒有資料區塊 */
.noDataBlock {
  position: relative;
  border-top: 1px solid white;
  margin: 50px 0 100px 0;
  padding-top: 50px;
}
.noDataMeta{
  margin: 30px 10px;
  font-size: 12px;
}
.noDataItem {
  display: inline-block;
  margin: 12px 3px;
}
