@import '../../common.scss';
@import '../../styles/actionButton.scss';
$tableWebBreak: 1000px;
.wrap {
	position: relative;
	padding-bottom: 150px;
  
  position: absolute;
  width: 100%;
  min-height: 100vh;

  background-size: 100%;
  background-image: url('../images/bg.png'), url('../images/grass.png');
  background-repeat: no-repeat, repeat;
  background-attachment:fixed;
}

/* -----------------
/* CONFIG */

.configSection {
	max-width: 360px;
	margin: 40px 10px;
	line-height: 2;
  padding: 10px;
  background: white;
  box-shadow: 3px 3px 0 0 rgba(0,0,0,0.12);
}
@media all and (min-width: 360px){
  .configSection {
    margin: 40px auto;
  }
}
/* should be refine later */

$baseFontSize: 16;
$primaryColor: #16a085;
@function rem($val) {
  @return #{$val / $baseFontSize}rem;
}
.list {
  padding: .5rem 1rem;
  margin: .5rem .5rem 2rem .5rem;    
  list-style-type: none;
}
.listItem {
  margin: 0 0 .5rem 0;
  padding: 0;
}
.radioLabel {
  position: relative;
  margin: .5rem;
  font-family: Arial, sans-serif;
  line-height: 135%;
  cursor: pointer;
}

.radio {
  position: relative;
  margin: 0 1rem 0 0 ;
  cursor: pointer;
  
  &:before {
    transition: all .4s cubic-bezier(.45,1.8,.5,.75);
    transform: scale(0,0);
    content: "";
    position: absolute;
    top: 0;
    left: rem(2);
    z-index: 1;
    width: rem(12);
    height: rem(12);
    border-radius: 50%;
  }
  
  &:checked {
    &:before {
     background: $awesomeColor;
     transform: scale(1,1); 
    }
  }
  
  &:after {
    content: "";
    
    position: absolute;
    top: rem(-4);
    left: rem(-2);
    
    width: 1rem;
    height: 1rem;
    
    background: #fff;
    
    border: 2px solid $awesomeColor;
    border-radius: 50%;
  }
}
.button {
	margin-left: calc(50% - 55px);
	display: block;
	background: $awesomeColor;
  border: none;
  padding: 3px 30px;
  color: white;
}
/* -----------------
/* GAME */
/* billboard only in web version */

.billboardBlock {
    position: fixed;
    bottom: 200px;
    width: 1000px;
    left: calc(50% - 500px);
    z-index: 99;
}
.billboard {
   position: absolute;
  z-index: 10;
  display: inline-block;
}
.billboard.left {
  width: 340px;
  left: 10px;
}
.billboard.right {
  right: 10px;
  width: 340px;
  float: left;
  margin: 0;
}
.billboard.right .partyMenuItem:nth-child(5) {
  margin-left: 70px;
}


/* -----------------
/* RESULT */

.rankResultSection {
	text-align: center;
  position: relative;
  max-width: 800px;
  margin: 180px auto 0 auto;
  background: rgba(0,0,0,0.82);
}
.positionTitle {
  font-size: 22px;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
  background: black;
  padding: 22px 10px;
  width: auto;
}
@media all and (min-width:$tableWebBreak){
  .positionTitle {
    position: absolute;
    top: 0px;
    max-width: 40%;
    height: 32px;
    background: none;
    padding: 14px 10px 0 10px;
    width: 120px;
  }
}
.rankResultWrap {
	text-align: center;
	margin-bottom: 40px;
}
.rankResultTitle {
	font-size: 20px;
}
.spectrum {
  position: relative;
}
.spectrumPointLabel {
  display: none;
}
@media all and (min-width: $tableWebBreak){
  .spectrumPointLabel{
    position: absolute;
    top: -24px;
    right: 28px;
  }
}
.hue {
  position: relative;
  width: 100%;
  min-height: 80px;
  background: rgba(250,250,250,0.2);
  padding-bottom: 20px;
  padding-top: 2px;
  margin-top: 10px;
}
.hue.empty {
  display: none;
  background: none;
}
@media all and (min-width: $tableWebBreak){
  .hue {
    padding-bottom: 0px;
  }
  .hue.empty {
    display: block;
    background: none;
  }
}
.huePoint {
  font-size: 26px;
  height: 100%;
  margin: 10px 20px 4px 0;
  color: white;
}
.huePointLable {
  margin: 0 2px 0 5px;
}
@media all and (min-width:$tableWebBreak){
  .huePoint {
    position: absolute;
    top: 0;
    right: 0px;
    font-weight: 600;
    display: inline-block;
    width: 30px;
    height: 100%;
  }
  .huePointLable {
    display: none;
  }
}
.hueItemBlock {
  margin-right: 30px; 
}
@media all and (min-width:$tableWebBreak){
  .huePoint {
    right: 30px;
    padding-top: 16px;
  }
  .huePointLable {
    display: none;
  }
}
.hueItem {
  display: inline-block;
  margin: 18px 2px;
  cursor: pointer;
  position: relative;
}
table.hoverDetailTable {
  z-index: 12;
  background: white;
  position: absolute;
  top: -300px;
  width: 160px;
  left: calc(50% - 74px);
  box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.48);

}
@media all and (min-width:$tableWebBreak){
  table.hoverDetailTable {
    top: -240px;
  }
}
table.hoverDetailTable:after {
  content: '';
  position: absolute;
  bottom: -19px;
  left: 50px;
  filter: drop-shadow(2px 4px 4px rgba(0,0,0,0.48));
  border-top: 20px solid white;
  border-left: 15px solid transparent;
  border-right: 0px solid transparent;
}
.hoverDetailTable tr {
  border: 1px solid #D5DEE4;
}
.hoverDetailTable td {
  padding: 10px 0;
}
.posIcon {
  width: 20px;
  height: 20px;
  margin: 0 10px;
}
/* 沒有資料區塊 */
.noDataBlock {
  position: relative;
  margin: 50px 0 100px 0;
}
.noDataMeta{
  margin: 30px 10px;
  font-size: 14px;
  padding: 10px;
  line-height: 1.5;
  color: white;
}
@media all and (min-width:$tableWebBreak){
  .noDataItems {
    margin-top: 50px;
  }
  .noDataMeta {
    font-size: 12px;
    background: none;
  }
}
.noDataItem {
  display: inline-block;
  margin: 12px 3px;
}
/* 法案區塊 */
.introToPartyBills {
  text-align: center;
}
.introToPartyTitle {
  width: 280px;
  display: inline-block;
  background: #FFFFFF;
  line-height: 1.4;
  padding: 40px 10px;
  width: 120px;
  height: 120px;
  font-size: 12px;
  border-radius: 50%;
  color: #0F0F0F;
}
.billSection {
  margin: 10px;
  max-width: 800px;
  margin: 0 auto;
  background: white;
  text-align: center;
  padding-top: 20px;
}
.birdTalk {
  font-size: 14px;
  margin-top: 30px;
}
.billTitle {
  font-size: 20px;
  font-weight: 600;
 
  border-bottom: 2px solid;
  display: inline-block;
  padding: 4px;
  margin: 0 auto;
}
@media all and (min-width:$tableWebBreak){
  .billTitle {
    color: black;
    padding: 0;
  }
}
