@import '../../common.scss';
.wrap {
	position: relative;
	padding-bottom: 150px;
  
  position: absolute;
  width: 100%;
  min-height: 100vh;

  background-size: 100%;
  background-image: url('../images/bg.png'), url('../images/grass.png');
  background-repeat: no-repeat, repeat;
  background-attachment:fixed;
}

/* -----------------
/* CONFIG */

.configSection {
	max-width: 400px;
	margin: 80px auto;
	line-height: 2;
  padding: 10px;
  background: white;
  box-shadow: 4px 4px 0 0 rgba(0,0,0,0.12);
}
/* should be refine later */

$baseFontSize: 16;
$primaryColor: #16a085;
@function rem($val) {
  @return #{$val / $baseFontSize}rem;
}
.list {
  padding: .5rem 1rem;
  margin: .5rem .5rem 2rem .5rem;    
  list-style-type: none;
}
.listItem {
  margin: 0 0 .5rem 0;
  padding: 0;
}
.radioLabel {
  position: relative;
  margin: .5rem;
  font-family: Arial, sans-serif;
  line-height: 135%;
  cursor: pointer;
}

.radio {
  position: relative;
  margin: 0 1rem 0 0 ;
  cursor: pointer;
  
  &:before {
    transition: all .4s cubic-bezier(.45,1.8,.5,.75);
    transform: scale(0,0);
    content: "";
    position: absolute;
    top: 0;
    left: rem(2);
    z-index: 1;
    width: rem(12);
    height: rem(12);
    border-radius: 50%;
  }
  
  &:checked {
    &:before {
     background: $awesomeColor;
     transform: scale(1,1); 
    }
  }
  
  &:after {
    content: "";
    
    position: absolute;
    top: rem(-4);
    left: rem(-2);
    
    width: 1rem;
    height: 1rem;
    
    background: #fff;
    
    border: 2px solid $awesomeColor;
    border-radius: 50%;
  }
}
.button {
	margin-left: calc(50% - 55px);
	display: block;
	background: $awesomeColor;
  border: none;
  padding: 3px 30px;
  color: white;
}
/* -----------------
/* GAME */
/* billboard only in web version */

.billboardBlock {
    position: fixed;
    bottom: 200px;
    width: 1000px;
    left: calc(50% - 500px);
    z-index: 99;
}
.billboard {
   position: absolute;
  z-index: 10;
  display: inline-block;
}
.billboard.left {
  width: 340px;
  left: 10px;
}
.billboard.right {
  right: 10px;
  width: 340px;
  float: left;
  margin: 0;
}
.billboard.right .partyMenuItem:nth-child(5) {
  margin-left: 70px;
}


/* -----------------
/* RESULT */

.rankResultSection {
	text-align: center;
}
.rankResultWrap {
	text-align: center;
	margin-bottom: 40px;
}
.rankResultTitle {
	font-size: 20px;
}
.spectrum {
  display: flex;
  border-top: 1px solid white;
}
.hue {
  flex: 1;
  position: relative;
}
.hue:after {
    content: '';
    width: 2px;
    height: 10px;
    background: #FFFFFF;
    position: absolute;
    top: -10px;
    left: 0;
}
.hueItem {
  margin: 35px auto;
  cursor: pointer;
}

$hexagonSize: 60px;
$innerHexagonSize: 50px;
$hexagonColor1: cyan;
$hexagonColor2: #348FB1;
$hexagonColor3: #696E6E;//#145456;
$hexagonColor4: #252727;//#111;

.hexagon {
  width: $hexagonSize;
  height: $hexagonSize/2 + 5px;
  background: linear-gradient(180deg,$hexagonColor1,$hexagonColor2);
  position: relative;
}
.hexagon:before {
  content: "";
  position: absolute;
  top: -$hexagonSize/4;
  left: 0;
  width: 0;
  height: 0;
  border-left: $hexagonSize/2 solid transparent;
  border-right: $hexagonSize/2 solid transparent;
  border-bottom: $hexagonSize/4 solid $hexagonColor1;
}
.hexagon:after {
  content: "";
  position: absolute;
  bottom: -$hexagonSize/4;
  left: 0;
  width: 0;
  height: 0;
  border-left: $hexagonSize/2 solid transparent;
  border-right: $hexagonSize/2 solid transparent;
  border-top: $hexagonSize/4 solid $hexagonColor2;
  filter: drop-shadow(0px 2px 2px #FFF);

}

.innerHexagon {
  width: $innerHexagonSize;
  height: $innerHexagonSize/2 + 5px;
  background: linear-gradient(210deg,$hexagonColor3,$hexagonColor4);
  position: relative;
  top: 2px;
  left: 6px; 
}

.innerHexagon:before {
  content: "";
  position: absolute;
  top: -$innerHexagonSize/4;
  left: 0;
  width: 0;
  height: 0;
  border-left: $innerHexagonSize/2 solid transparent;
  border-right: $innerHexagonSize/2 solid transparent;
  border-bottom: $innerHexagonSize/4 solid $hexagonColor3;
}
.party {
  position: absolute;
  top: -6px;
  left: 14px;
}
.name, .name:after {
  z-index: 12;
  font-size: 14px;
  color: white;
  position: absolute;
  top: 20px;
  width: 100%;
}
.innerHexagon:after {
  content: "";
  position: absolute;
  bottom: -$innerHexagonSize/4;
  left: 0;
  width: 0;
  height: 0;
  border-left: $innerHexagonSize/2 solid transparent;
  border-right: $innerHexagonSize/2 solid transparent;
  border-top: $innerHexagonSize/4+1 solid $hexagonColor4;
  z-index: 11;//?
}