@import '../../common.scss';
.socialWrap {
	width: 120px;
	margin: 40px auto;
  padding: 0;
  background: yellow;
	color: black;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

	.urgentText {
		margin: 0;
		padding: 10px;
		background: black;
		color: yellow;
		font-size: 22px;
		font-weight: bold;
	}
	.shareText {
		margin: 10px 10px 4px;
	}
}