@import '../../common.scss';

.socialWrap {
	width: 120px;
	margin: 40px auto;
  padding: 0;
  background: yellow;
	color: black;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

	.urgentText {
		margin: 0;
		padding: 10px;
		background: black;
		color: yellow;
		font-size: 22px;
		font-weight: bold;
	}
	.shareText {
		margin: 10px 10px 4px;
	}
}
.watchoutLogo {
	position: absolute;
	top: 5px;
	display: block;
	float: left;
	width: 32px;
	height: 18px;
	margin: 0 10px;
	background: url(./images/watchout-logo-w.png);
	background-size: auto 100%;
	background-position: right top;
	overflow: hidden;
	text-indent: -500px;
	cursor: pointer;

	&:hover {
		opacity: 0.5;
	}
}
@media all and (min-width: 600px) {
	.watchoutLogo {
		width: 125px;
	}
}

.shareIcon {
	cursor: pointer;
	width: 30px;
}

