
.Story {
	position: relative;
	max-width: 750px;
	margin: 0 auto;
}
.Story img {
	max-width: 100%;
}
.Story h2 {
	color: rgb(192, 80, 77);
}
.author {
	font-size: 15px;
}
.Story h3 {
	color: rgb(192, 80, 77);
}
.Story p {
	line-height: 1.6;
	text-align: left;
	font-size: 18px;
	color: rgba(15, 15, 15, 0.77);
}