@import '../common.scss';

body {
  font-family: "Helvetica Neue", Helvetica, "sourcehansans-tc", "PingFang TC", "Heiti TC", "Apple LiGothic Medium", "Microsoft JhengHei", Arial, sans-serif;
  font-size: $defaultFontSize;
  font-weight: normal;
  line-height: $defaultLineHeight;
  color: $black;
  background: $defaultBackgroundColor;
}
.app {
	width: 100%;
	overflow: hidden;
}
