@import '../common.scss';

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang TC", "Heiti TC", "Apple LiGothic Medium", "微軟正黑體", sans-serif;
  font-size: $defaultFontSize;
  line-height: $defaultLineHeight;
  color: $black;
  background: $defaultBackgroundColor;
}
.app {
	width: 100%;
	overflow: hidden;
}
.invisible {
  max-height: 0;
  overflow: hidden;
}
