@import '../../common.scss';
$break: 600px;
.wrap {
	position: relative;
	max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
    font-size: 16px;

    word-wrap: break-word;
    
}
@media all and (min-width: $break){
	.wrap {
		font-size: 18px;
	}
}
.paper {
	padding: 0 30px;
}
@media all and (min-width: $break){
	.paper {
		padding: 5px 30px 30px 30px;
		background: white;
		box-shadow: 2px 2px 5px rgba(0,0,0,0.008);
	}
}
.section {
	margin-bottom: 30px;
}
.titleWrap {
	text-align: center;
}
h2.title {
    font-size: 22px;
    margin: 30px 0 10px 0;
}
.centerWrap {
	text-align: center;
	color: rgb(53,55,54);
}
.sectionWrap {
	text-align: left;
	color: rgb(53,55,54);
	margin-top: 20px;
    
}
@media all and (min-width: $break){
	.centerWrap {
		color: rgba(15, 15, 15, 0.84);
	}
	.sectionWrap {
		color: rgba(15, 15, 15, 0.84);
	}
}
.meta {
	margin-top: 30px;
	font-size: 14px;
}
.wrap br {
	margin: 10px 0;
}