@import '../../common.scss';
@import '../../styles/innerTag.scss';
.wrap {
	position: relative;
	text-align: center;
}
.innerWrap {
  padding: 20px 0 100px 0;
}
@media all and (min-width: 400px){
  .innerWrap {
    max-width: 800px;
    margin: 0 auto;
  }
}
.partyLink, .partyLink:visited {
  color: $black;
}
.bottomWrap {
  background: #DDD;
  padding: 20px 0;
}
.seeMore {
  text-align: center;
  line-height: 1.6;
}
/* <br/> */
.mobileOnly {
  display: block;
}
@media all and (min-width: 460px){
  .mobileOnly {
    display: none;
  }
}

