@import '../../common.scss';
@import '../../styles/innerTag.scss';
.wrap {
	position: relative;
	text-align: center;
}
.innerWrap {
  padding: 20px 0 100px 0;
}
@media all and (min-width: 400px){
  .innerWrap {
    max-width: 800px;
    margin: 0 auto;
  }
}
.partyLink, .partyLink:visited {
  color: $black;
  padding-bottom: 2px;
  text-decoration: none;
  border-bottom: 1px solid;

}
.bottomWrap {
  background: #DDD;
  padding: 20px 0;
}
.seeMore {
  text-align: center;
  line-height: 1.6;
}
/* <br/> */
.mobileOnly {
  display: block;
}
@media all and (min-width: 460px){
  .mobileOnly {
    display: none;
  }
}
.wantedSection {
  padding: 0 10px;
  line-height: 1.4;
}

