@import '../../common.scss';

$cubeSize: $defaultCubeSize;
$evadingColor: black;

.wrap {
	display: inline-block;
	vertical-align: top;
}
.wrap > * {
	display: block;
	margin: 0 auto;
}

$countItemWidth: 40px;
$border: 2px solid $trueBlack;
.title {
	padding: 4px 4px 0;
	width: 3*$countItemWidth + 2*2px;
	font-size: 19px;
	background: $trueBlack;
	color: $trueWhite;
}
.countWrap {
	display: inline-block;
	border: $border;
	font-size: $defaultFontSize;
	line-height: 1;
}
.countTotal {
	display: inline-block;
	width: 3*$countItemWidth;
	padding: 0 0 4px;
	background: $trueBlack;
	color: $trueWhite;
	font-size: 20px;
	font-weight: bold;
}
.countItem {
	display: inline-block;
	width: $countItemWidth;
	padding: 4px 0;
}
.cubesOuterWrap {
	margin-top: 20px;
}


/* 一個一個表態 */
.positionWrap {
	position: relative;
	float: left;
}
.positionCube {
	width: $cubeSize;
	height: $cubeSize;
	float: left;
}

/* hover 上的時候顯示的文字 */
.activeCube {
	width: 100%;
	background: white;
	position: absolute;
	text-align: left;
	padding: 10px;
	font-size: 14px;
	line-height: 1.4;
	bottom: -100px;
	height:90px;
	width: 340px;
	border: 1px solid;
  overflow: hidden;
	z-index: 1;
	box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.12);
}
