@import '../../common.scss';
.wrap {
	display: inline-block;
	text-align: center;
	min-width: 48px;
	cursor: pointer;
	position: relative;
	padding-top: 50px;/* space for animation */
}
@keyframes soaring {
    from { top: 30px }
    to { top: 0px}
}
@keyframes fading {
    from { opacity: 1 }
    to { opacity: 0}
}
.pointDiff {
	position: absolute;
	width: 100%;
	text-align: center;
}
.pointDiff.animate {
	top: 30px;
	animation: soaring 1s 1, fading 1s linear 1s 1;
	animation-fill-mode: forwards; 
}
.styles.hide {
	top: 30px;
	opacity: 0;
}
.container {
	background: #929B9D;
	padding: 2px;
}
@media all and (min-width: 450px){
	.container {
		background: none;
	}
}
.cardWrap {
	height: 30px;
	text-align: center;
	position: relative;
}
.showFront .cardWrap {
	transition: 0.5s;
}
.showBack .cardWrap {
	transform-style: preserve-3d;
	transform: rotateY(180deg);
	transition: 0.5s;
}
.posCard {
	background: black;
	color: white;
	backface-visibility: hidden;
	position: absolute;
	width: 100%;
}
.front {
	z-index: 10;
}
.showBack .cardWrap .front {
	z-index: 0;
}
.back {
 	transform: rotateY(180deg);
}
.posCard.ans.aye {
	background: $ayeColor;
}
.posCard.ans.nay {
	background: $nayColor;
}
.posCard.ans.none {
	background: $noneColor;
}
.avatarImg {
	width: 30px;
	height: 30px;
	margin: 0 auto;
}
@media all and (min-width: 400px){
	.avatarImg {
		width: 50px;
		height: 50px;
	}
}
.name {
	background: white;
}
.points {
	background: white;
	font-size: 18px;
	font-weight: 800;
}