@import '../../common.scss';

$hexagonSize: 60px;
$innerHexagonSize: 50px;
/* border */
$hexagonColor1: #ddd; /* light */
$hexagonColor2: #333; /* drak */
/* inner */
$hexagonColor3: #ccc;
$hexagonColor4: #444;
/* active color */
$hexagonColor5: #fff;
$hexagonColor6: #eee;

.hexagon {
  width: $hexagonSize;
  height: $hexagonSize/2 + 8px;
  background: linear-gradient(180deg,$hexagonColor1,$hexagonColor2);
  position: relative;
}
.hexagon:before {
  content: "";
  position: absolute;
  top: -$hexagonSize/4;
  left: 0;
  width: 0;
  height: 0;
  border-left: $hexagonSize/2 solid transparent;
  border-right: $hexagonSize/2 solid transparent;
  border-bottom: $hexagonSize/4 solid $hexagonColor1;
}
.hexagon:after {
  content: "";
  position: absolute;
  bottom: -$hexagonSize/4;
  left: 0;
  width: 0;
  height: 0;
  border-left: $hexagonSize/2 solid transparent;
  border-right: $hexagonSize/2 solid transparent;
  border-top: $hexagonSize/4 solid $hexagonColor2;
  filter: drop-shadow(0px 2px 2px #FFF);
}

.innerHexagon {
  width: $innerHexagonSize;
  height: $innerHexagonSize/2 + 7px;
  background: linear-gradient(180deg,$hexagonColor3,$hexagonColor4);
  position: relative;
  top: 2px;
  left: 5px;
  padding-top: 8px;
  font-size: 14px;
  color: white;
}
.hexagon:hover .innerHexagon, .innerHexagon.active {
  background: linear-gradient(210deg,$hexagonColor5,$hexagonColor6);
}
.innerHexagon:before {
  content: "";
  position: absolute;
  top: -$innerHexagonSize/4;
  left: 0;
  width: 0;
  height: 0;
  border-left: $innerHexagonSize/2 solid transparent;
  border-right: $innerHexagonSize/2 solid transparent;
  border-bottom: $innerHexagonSize/4 solid $hexagonColor3;
}
.hexagon:hover .innerHexagon:before, .innerHexagon.active:before {
   border-bottom: $innerHexagonSize/4 solid $hexagonColor5;
}
.innerHexagon:after {
  content: "";
  position: absolute;
  bottom: -$innerHexagonSize/4;
  left: 0;
  width: 0;
  height: 0;
  border-left: $innerHexagonSize/2 solid transparent;
  border-right: $innerHexagonSize/2 solid transparent;
  border-top: $innerHexagonSize/4+1 solid $hexagonColor4;
  z-index: 1;
}
.hexagon:hover .innerHexagon:after, .innerHexagon.active:after {
  border-top: $innerHexagonSize/4+1 solid $hexagonColor6;
}
.party {
  position: absolute;
  top: 0px;
  left: 18px;
}
.name, .name:after {
  z-index: 12;
  font-size: 14px;
  top: 20px;
  width: 100%;
  position: absolute;
  color: white;
}
.hexagon:hover .name,
.hexagon:hover .name:after,
.name.active,
.name.active:after{
  color: black;
}
