@import '../../common.scss';
.wrap {
    position: relative;
    margin: 0 auto;
}
.areaFlag {
    background-image: url('./images/flag.png');
	background-size: 100% auto;
    width: 200px;
    color: white;
    text-align: center;
    padding: 70px 0;
    font-size: 22px;
    margin: 0 auto 10px auto;

}
.areaFlag.twoLink {
    padding: 64px 0;
}
.areaCity {
    color: $white;
    text-decoration: none;
    display: inline-block;
}
.areaCityLink, .areaCityLink:visited {
    color: $white;
    padding-bottom: 0px;
    border-bottom: 1px solid;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 6px;

}
.areaCityLink:hover {
    color: white;
}


.flagMeta, .flagMeta:visited {
    font-size: 12px;
    color: $black;
    padding-bottom: 0px;
    border-bottom: 1px solid;
    text-decoration: none;
    display: inline-block;
    
    position: absolute;
    bottom: 30px;
    color: rgb(230,230,230);
    left: calc(50% - 32px);
    cursor: pointer;
    text-align: center;

    z-index: 1;
    
}
.flagMeta.twoLink, .flagMeta.twoLink:visited {
    bottom: 25px;
}
.flagMeta:hover {
    color: white;
}