@import '../../common.scss';
@import '../../styles/actionButton.scss';

$breakSmall: 440px;
$breakLarge: 800px;
.wrap {
  position: relative;
  min-height: 500px;
}
.innerWrap {
  text-align: center;
}
.figHeader {
  min-height: 80px;
  max-width: 800px;
  margin: 50px auto 0 auto;
}
.issueBlock {
  border: 2px solid;
  margin: 0 5px;
  font-size: 20px;
  display: inline-block;
}
@media all and (min-width: $breakLarge){
	.issueBlock {
		float: left;
		margin-top: 10px;
	}
	.issueController {
		float: right;
	}
}
.issueTitle {
  background: black;
  color: white;
  padding: 10px;
}
.issueStatement {
  background: white;
  padding: 10px;
}
@media all and (min-width: $breakSmall){
  .issueTitle {
    display: inline-block;
  }
  .issueStatement {
    display: inline-block;
  }

}
.records {
  margin: 60px auto;
  max-width: 1000px;
  position: relative;
  text-align: center;
  padding-bottom: 100px;
}
@media all and (min-width: $breakLarge){
  .mobilePadOnly {
     display: none;
  }
}
.collaboratorInfo {
	text-align: center;
    margin: 0 -9%;
    background: #d3d3d3;
}
.link, .link:visited {
  color: #b88234;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}
.link:hover {
  color: #b88234;
  text-decoration: underline;

}
.moreInfo {
	background: white;
	line-height: 2;
	text-align: left;
	padding-bottom: 50px;
}
.moreInfoInner {
	max-width: 1200px;
	margin: 0 auto;
	padding: 40px 10px;
	font-size: 22px;
  color: rgb(53,55,54);
}
.linkButton, .linkButton:visited {
	color: #D6A051;
  border: 2px solid #D6A051;
  padding: 0px 10px;
  font-size: 18px;
  margin: 0 10px 0px 10px;
  display: inline-block;
  text-decoration: none;
}
.linkButton:hover {
	background: #D6A051;
	color: white;
}
.comingButton {
	color: #D6A051;
    border: 2px dotted #D6A051;
    padding: 0px 10px;
    font-size: 18px;
    margin: 0 10px 0px 10px;
    display: inline-block;
    text-decoration: none;
}



.backStage {
  cursor: pointer;
  text-align: left;
  max-width: 480px;
  margin: 0 auto 4px auto;
  color: #6D6868;
  padding-left: 4px;

  min-height: 30px;
  display: none;
}
.backStage:hover {
  text-decoration: underline;
}

.mobileHint {
  position: relative;
}
@media all and (min-width: 800px){
  .mobileHint {
    display: none;
  }
}
.keyboardHint {
  display: none;
}
@media all and (min-width: 800px){
  .keyboardHint {
    display: block;
    margin: 20px 10px 100px 10px;
    color: rgb(80,80,80);
  }
}

.skipInteractive {
  margin: 20px;
  cursor: pointer;
}
@media all and (min-width: 800px){
  .skipInteractive {
     display: inline-block;
     margin: 0;
  }
}
/* 協力 NGO*/
.collaboratorInfo {
  text-align: center;
  padding: 10px 0;
  background: $lightGrey;
  border-bottom: 1px solid silver;
}
.completeMessage {
  text-align: left;
  max-width: 600px;
  margin: 50px auto 0;
  position: relative;
  font-size: 18px;
  text-align: center;
  line-height: 1.4;

}
