@import '../../common.scss';
.bgWrap {
	width: 100%;
	height: 116vw;
	overflow: hidden;
	position: relative;
}
.bgGif {
	width: 100%;
	z-index: -1000;
	overflow: hidden;
	background-size: cover;
	top: 80px;
}
.coverTextBlock {
  	position: absolute;
	width: 100%;
	top: 0;
	height: 116vw;
	color: white;
	
}
@media screen and (min-width: $appBarBreakLarge) {
	.bgWrap {
	  height: 50vw;
	}
	.bgGif {
	  top: 4px;
	}
	.coverTextBlock {
		height: 50vw;
	}
}
.coverTitle {
	position: relative;
	width: 100%;
	margin-top: 45vw;
}
.coverTitleMain {
	display: block;
  	width: 90%;
	margin: 0 auto;
}
.diffTensImg {
    position: absolute;
    top: 3.6vw;
    width: 5%;
    left: 73.5vw;
}
.diffOnesImg {
    position: absolute;
    top: 3.6vw;
    width: 5%;
    left: 78.5vw;
}
.actions {
	width: 100%;
}
.storyBeginsHereImg {
	display: block;
	margin: 0 auto;
	width: 85%;
  	cursor: pointer;
  	@include prefix(filter, drop-shadow(0 0 8px $trueWhite));
}
.missionImg {
	display: block;
	width: 55%;
	margin: 10vw auto 0;
  	padding: 0 10px;
  	cursor: pointer;
  	@include prefix(filter, drop-shadow(0 0 8px aqua));
}
@media all and (min-width: $appBarBreakLarge) {
	.coverTitle {
		margin-top: 17vw;
	}
	.coverTitleMain {
		width: 60%;
	}
	.diffTensImg {
		position: absolute;
		top: 2.5vw;
		width: 3.25%;
		left: 65.75vw;
	}
	.diffOnesImg {
		position: absolute;
		top: 2.5vw;
		width: 3.25vw;
		left: 68.95vw;
	}
	.actions {
		bottom: -4vw;
	}
	.storyBeginsHereImg {
		width: 36%;
	}
	.missionImg {
		width: 20%;
		margin: 4vw auto 0 auto;
		display: block;
		padding: 0;
		background: none;
		cursor: pointer;
		@include prefix(filter, drop-shadow(0 0 15px aqua));
	}
	.missionImg:hover {
	  	@include prefix(filter, drop-shadow(0 0 8px aqua));
	}
}

/* 播放影片 */
.playingSection {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: $zPlayingVideo;
	top: 0;
}
.iframWrap {
	position: fixed;
	width: 100%;
	height: 100%;
}
.close {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 10;
	color: white;
	font-size: 20px;
	cursor: pointer;
	padding: 10px 20px;
	background: black;
}
.close:hover {
	background: #29ABE2;
}
.removeIcon {
	width: 18px;
    padding-top: 4px;
    vertical-align: top;
}
.closeText {
	display: inline-block;
	padding: 0 4px;
}
