@import '../../common.scss';

.videoWrap {
	width: 100%;
	height: 54vw;
	overflow: hidden;
}
.bgIframWrap {
  position: fixed; 
  width: 100%; 
  height: calc(57vw - 4px);
  z-index: -1000;
  overflow: hidden;
  background-size: cover;
  top: 80px;
}
.videoFilter {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -900;
  height: 100%;
  background: rgba(23, 21, 21, 0.4);
}
@media screen and (min-width: $appBarBreakLarge) {
  .bgIframWrap {
    top: 40px;
  }
}

.videoText {
	width: 100%;
	top: 0;
	height: 57vw;
	color: white;
	padding-top: 26px;
}
.videoTitle {
	  text-align: center;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.6;
    text-shadow: 1px 1px 10px #29ABE2;
}
.playButton {
    cursor: pointer;
    display: inline-block;
    margin: -20px auto 0 auto;
    font-size: 60px;
    text-shadow: none;   
}
.playButton:hover {
    color: #29ABE2;
}
@media all and (min-width: $appBarBreakLarge) {
    .videoText {
      padding-top: 150px;
    }
    .videoTitle {
      font-size: 46px;
    }
    .playButton {
      font-size: 120px;
      margin: 0 auto;
    }
}
.playingSection {
	position: fixed; 
	width: 100%; 
	height: 100%;
	z-index: $zPlayingVideo;
	top: 0;
}
.iframWrap {
	position: fixed; 
	width: 100%; 
	height: 100%;
}
.close {
   position: absolute;
   top: 20px;
   right: 20px;
   z-index: 10;
   color: white;
   font-size: 20px;
   cursor: pointer;
   padding: 10px 20px;
   background: black;
}
.close:hover {
	background: #29ABE2;
}
.closeText {
	display: inline-block;
	padding: 0 4px;
}
