@import '../../common.scss';
$billTableWebBreak: 500px;
$maxWidth: 720px;
.wrap {
  position: relative;
  background: #eee;
  padding: 10px 0;
  margin-top: 80px;
  text-align: left;
}
@media all and (min-width: $billTableWebBreak){
  .wrap {
    max-width: $maxWidth;
    margin: 80px auto 0 auto;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.12);
  }
}
header {
  text-align: center;
}
/* 說明有誰回覆 */
.metaInfo {
  font-size: 12px;
  margin: 15px;
}
.toggleSet {
  margin: 10px 0;
}
.toggle {
  display: inline-block;
  cursor: pointer;
  margin: 10px 10px 0 0;
  padding: 5px 15px;
  border: 1px solid rgba($awesomeColor, 0.15);
  will-change: background;
}
.toggle.active {
  transition: all .3s ease-in;
  background: rgba($awesomeColor, 0.15);
}




.billTable {
  position: relative;
}
/* 法案 title */
.billTitleWrap {
  position: relative;
  border-bottom: 1px solid #ccc;
}
.billTitleWrap.fixed {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: $maxWidth;
  background: white;
  box-shadow: 0 2px 1px 0 rgba(0,0,0,0.08);
}
.billTitleWrap.after {
  z-index: 1;
  position: absolute;
  bottom: 0px;
  width: 100%;
  max-width: $maxWidth;
  background: white;
  box-shadow: 0 2px 1px 0 rgba(0,0,0,0.08);
}
.billTitles {
  display: flex;
  padding: 10px 0;
}
.billTitle {
  flex: 1;
  font-size: 14px;
  font-weight: 600;
  padding-top: 8px;
}
@media all and (min-width: $billTableWebBreak){
  .billTitle {
    font-size: 18px;
  }
}
.unitEntry, .unitEntry:visited {
  display: flex;
  padding: 10px 0;
  color: $black;
  text-decoration: none;
  cursor: pointer;
}
.unitEntry:hover {
  background: rgba($awesomeColor, 0.15);
}
.unitName {
  flex: 1.2;
  font-size: 14px;
  padding: 0 10px;
}
@media all and (min-width: $billTableWebBreak){
  .party {
    margin: 3px 4px 3px 0;
  }
  .unitName {
    text-align: left;
    font-size: 16px;
  }
}
.nameFlex {
  display: flex;
}
.prefix {
  flex: 14px 0 0;
  margin-right: 4px;
}
.number {
  text-align: center;
}
.party {
  
}
.unitTitle {
  flex: 1;
}
.unitTitleText {
  display: inline;
  border-bottom: 1px solid rgba(15, 15, 15, 0.86);
}
@media all and (min-width: $billTableWebBreak){
  .unitTitleText {
      border-bottom: none;
  }
}
@media all and (min-width: $billTableWebBreak){
  .prefix {
    flex: 40px 0 0 ;
  }
  .number {
      display: inline-block;
      margin-right: 4px;
      text-align: right;
      width: 18px;
      margin-right: 4px;
  }
  .party {
    margin: 3px 4px 3px 0;
  }
}

.exLink {
    width: 16px;
    height: 16px;
    vertical-align: top;
    padding-top: 2px;
}

.bill {
  flex: 1;
  padding: 0 10px;
  font-size: 14px;
  position: relative;
}
@media all and (min-width: $billTableWebBreak){
  .bill {
    font-size: 16px;
  }
}
.bill.noReply {
  font-size: 12px;
  color: rgb(100,100,100);
}
.noReplyImg {
  width: 20px;
}
.billDetail {
  display: none;
}
@media all and (min-width: $billTableWebBreak){
  .bill:hover .billDetail {
      display: block;
      position: absolute;
      font-size: 14px;
      width: 70px;
      text-align: center;
      line-height: 1.4;
      background: rgba(0, 0, 0, 0.8);
      color: white;
      padding: 7px 10px;
      top: -45px;
      left: -16px;
      box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.12);
  }
  .bill:hover .billDetail:after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 30px;
      border-top: 10px solid #25282A;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
  }
}

