@import '../../common.scss';
$breakSmall: 480px;
$breakMedium: 800px;
.wrap {
	background: $awesomeColor;
  	color: $white;
	padding: 20px 40px 55px;
	min-height: 100vh;
}
.innerWrap {
	margin: 0 auto;
    max-width: 1000px;
    margin-top: 10vh;
}
@media all and (min-width:$breakMedium){
	.innerWrap {
		margin-top: 20vh;
	}
}
.stamp {
	width: 280px;
	height: 180px;
	display: inline-block;
	padding: 10px;
	background: white;
	position: relative;
	-webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
	/*The stamp cutout will be created using crisp radial gradients*/
	background: radial-gradient(
		transparent 0px, 
		transparent 4px, 
		white 4px,
		white
	);
  
	/*reducing the gradient size*/
	background-size: 20px 20px;
	/*Offset to move the holes to the edge*/
	background-position: -10px -10px;
}
.stamp:after {
	content: '';
	position: absolute;
	/*We can shrink the pseudo element here to hide the shadow edges*/
	left: 5px; top: 5px; right: 5px; bottom: 5px;
	z-index: -1;
}
/*Some text*/
.stamp:before {
	content: 'WATCHOUT';
	position: absolute;
	bottom: 0; left: 0;
	font: bold 24px arial;
	color: #005060;
	opacity: 0.75;
	line-height: 100%;
	padding: 20px;
}
.subscribeImg {
	width: 100%;
}

