.wrap {
	text-align: center;
}
.message {
    width: 340px;
    text-align: left;
    margin: 50px auto 0 auto;
    line-height: 2;
    padding: 20px;
}
.img {
    width: 100%;
}
.title {
    font-size: 20px;
    text-align: center;
    font-weight: 800;
}
.meta {
    font-size: 14px;
    margin-left: 2px;
}
.text {
	margin-left: 4px;
}
.link, .link:visited {
    color: gray;
    text-decoration: none;
    padding: 4px 20px;
    text-align: center;
    display: inline-block;
    margin: 20px 0;
    background: lightgray;
}
.link:hover {
	text-decoration: underline;
}
