@import '../../common.scss';
$redColor: #D65A5A;
$breakSmall: 480px;
$breakMedium: 800px;
.wrap {
	padding: 20px 10px;
	min-height: 100vh;
	background: white;
}
.innerWrap {
	margin: 0 auto;
    max-width: 800px;
    position: relative;
    padding: 20px;
}
.postcardImg {
	width: 100%;
	border: 1px solid #EAEAEA;
	box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.12);
}
.subscribeContent {
	position: relative;
}
@media all and (min-width: $breakMedium){
	.innerWrap {
		margin-top: 10vh;
		min-height: 0;
		padding: 0;
	}
	.subscribeContent {
		position: absolute;
		bottom: 8%;
    	margin: 0 10%;
	}
}
.title {
	font-size: 20px;
	padding: 20px 0;
}
.emailLabel {
	display: none;
}
.red {
	color: $redColor;
}
.showAlert  {
	display: inline-block;
	color: $redColor;
}
.hideAlert {
	display: none;
}
.emailInput {
	display: inline-block;
	height: 40px;
  	border: 1px solid gray;
  	padding: 5px 10px;
	background: rgba($white, 0.75);
  	color: $black;
	line-height: 1;
}
.emailInput:focus {
  	outline: none;
	background: $white;
	border: 1px solid black;
}
.submit {
	display: block;
	height: 40px;
	margin-top: 10px; // 當submit按鈕在第二行時
	padding: 0 8px;
	border: none;
	color: white;
	background: gray;
}
.submit:hover {
	background: black;
}
@media all and (min-width: $breakSmall){
	.submit {
		display: inline-block;
		margin: 0 10px;
	}
}
.lawInfo {
	line-height: 1.5;
	font-size: 14px;
	color: gray;
}
.lawInfo, .lawInfoTitle, .lawInfoContent {
	margin: 12px 0;
}
.linkItem {
	display: inline-block;
	margin: 10px;
	font-size: 16px;
}
.smallIcon {
	font-size: 16px;
	margin: 4px;
}



