@import '../../common.scss';
$redColor: #D65A5A;
$breakSmall: 480px;
$breakMedium: 800px;
.wrap {
	background: $awesomeColor;
  	color: $white;
	padding: 20px 40px;
}
.innerWrap {
	margin: 0 auto;
	max-width: 1200px;
}
.rightFooterLinks {
	width: 100%;
	padding: 10px 0 0;
	text-align: center;
}
@media all and (min-width: $breakMedium){
	.rightFooterLinks {
		text-align: right;
	}
}
.linkItem {
	display: inline-block;
	font-size: 16px;
	margin: 16px;
}

.say {
	padding: 25px 0;
	border-bottom: 1px solid rgba($white, 0.25);
	line-height: 1.5;

	img {
		display: inline-block;
		vertical-align: middle;
		margin-right: 20px;
	}
	.welcome, .links {
		display: inline-block;
		vertical-align: middle;
	}
	.welcome {
		width: 14em;
		margin: 20px 0;
		font-size: 14px;
		opacity: 0.5;
	}
	.links .linkItem.ia.inverted {
		font-size: 16px;
		border-bottom-color: $white;
		display: inline-block;
		margin: 2px 0;
	}
}
@media all and (min-width: 640px) {
	.say .links {
		margin-left: 20px;
	}
}
