$redColor: #D65A5A;
$breakSmall: 450px;
$breakMedium: 800px;
.wrap {
	background: #006060;
    padding: 20px;
    color: rgb(240,240,240);
	padding: 20px;
	
}
.innerWrap {
	margin: 0 auto;
	max-width: 1200px;
}
.title {
	font-size: 20px;
	margin: 20px 0;
}
.emailLabel {
	margin: 0 0 5px 2px;
    display: block;

}
.red {
	color: $redColor;
}
.showAlert  {
	display: inline-block;
	color: $redColor;
}
.hideAlert {
	display: none;
}
.emailInput {
	display: inline-block;
	height: 40px;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    color: black;
}
.emailInput:focus {
    outline-width: 0;
}
.submit {
	display: block;
    height: 40px;
    border: none;
    padding: 0 8px;
    color: white;
    border: 1px solid white;
    background: #006060;
    margin-top: 10px;
}
.submit:hover {
	background: white;
	color: rgb(53,55,54);
	border: 1px solid white;
}
@media all and (min-width: $breakSmall){
	.submit {
		display: inline-block;
		margin: 0 10px;
	}
}
.lawInfo {
	font-size: 14px;
	margin: 10px 0;
	line-height: 1.4;
}
.lawInfoTitle {
	
    margin-bottom: 10px;
}
.lawInfoContent {
	color: #97B5B5;
}
/* footer links */
.bottomInfo {
	border-top: 1px dashed rgb(53,55,54);
	margin-top: 20px;
	padding: 10px 0;
	line-height: 1.5;
	color: #97B5B5;
}
.rightFooterLinks {
	width: 100%;
	margin-top: 50px;
}
@media all and (min-width: $breakMedium){
	.rightFooterLinks {
		text-align: right;
	}
}
.linkItem, .linkItem:visited {
	display: inline-block;
	color: white;
	text-decoration: none;
	padding: 10px;
}
.linkItem:hover {
	text-decoration: underline;
	border-radius: 4px;
}
.hideLinks {
	max-height: 0px;
	overflow: hidden;
}

