@import '../../common.scss';
$redColor: #D65A5A;
$breakSmall: 450px;
$breakMedium: 800px;
.wrap {
	background: $awesomeColor;
  color: $white;
	margin-top: 20px;
	padding: 20px 40px 55px;
}
.innerWrap {
	margin: 0 auto;
	max-width: 1200px;
}
.title {
	font-size: 20px;
	padding: 20px 0;
}
.emailLabel {
	display: none;
}
.red {
	color: $redColor;
}
.showAlert  {
	display: inline-block;
	color: $redColor;
}
.hideAlert {
	display: none;
}
.emailInput {
	display: inline-block;
	height: 40px;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
	background: $white;
  color: $black;
	line-height: 1;
}
.emailInput:focus {
  outline: none;
}
.submit {
	display: block;
	height: 40px;
	margin-top: 10px; // 當submit按鈕在第二行時
	padding: 0 8px;
	border: 1px solid $white;
	color: $black;
	background: $white;
}
.submit:hover {
	background: $awesomeColor;
	color: $white;
	border: 1px solid white;
}
@media all and (min-width: $breakSmall){
	.submit {
		display: inline-block;
		margin: 0 10px;
	}
}
.lawInfo {
	line-height: 1.5;
	font-size: 12px;
}
.lawInfoTitle, .lawInfoContent {
}
/* footer links */
.bottomInfo {
	line-height: 1.5;
	font-size: 12px;
}
.lawInfo, .lawInfoTitle, .lawInfoContent, .bottomInfo {
	margin: 12px 0;
}
.lawInfo, .bottomInfo {
	opacity: 0.5;
}
.rightFooterLinks {
	width: 100%;
	padding: 10px 0 20px;
	text-align: center;
}
@media all and (min-width: $breakMedium){
	.rightFooterLinks {
		text-align: right;
	}
}
@media all and (min-width: $breakSmall){
	.lawInfo, .bottomInfo {
		width: 50%;
	}
}
.linkItem {
	display: inline-block;
	margin: 10px;
	font-size: 16px;
}

.hiddenLinks {
	max-height: 0px;
	overflow: hidden;
}
.alertLinkItem {
}
