$rollWebBreak: 800px;
.pbWrap {
	position: relative;
	text-align: center;
	padding-bottom: 150px;
	min-height: 300px;
}
.partyWrap {
	display: block;
	position: relative;
}
/* -----
捲軸造型
*/
.partyRollEndpoint {
	background-image: url('./images/top.png');
	background-size: 100%;

	width: 100vw;
	height: 20vw;

	position: absolute;
	left: 0;
	right: 0;
}
.partyRollEndpoint.top {
	top: 0px;
}
.partyRollEndpoint.bottom {
	bottom: 40px;
}
@media all and (min-width: $rollWebBreak){
	.partyRollEndpoint {
		width: 700px;
		height: 140px;
		margin: 0 auto;
	}
	.partyRollEndpoint.bottom {
		bottom: -100px;
	}
}
.partyRoll {
	text-align: left;
    line-height: 1.4;
    
    display: inline-block;
    margin: 30px auto 0 auto;
    
    background-image: url(./images/main.png);
    background-size: 100%;
    width: 100vw;
    min-height: 100vw;
    padding: 30px 40px 0px 10px;
}
@media all and (min-width: $rollWebBreak){
	.partyRoll {
		width: 700px;
		min-height: 600px;
		padding: 100px 80px 50px 80px;
		font-size: 18px;
	}
}
/* ----
名單本體
*/

.partyTitle {
	margin-top: calc(30px + 10vw);
	font-size: 20px;
}
@media all and (min-width: $rollWebBreak){
	.partyTitle {
		margin-top: 50px;
		padding-top: 10px;
		text-align: center;
	}
	
}
.partyRoll ol{
	margin: 0;
}
.partyRoll li{
	display: flex;
}
.partyEntryCount{
	flex: 40px 0 0;
	text-align: right;
}
.peopleEntryName {
	font-size: 18px;
	font-weight: 600;
	flex: 100px 0 0;
}
.peopleEntryInfo {
	color: rgb(27, 25, 25);
	flex: 1;
	padding-top: 2px;
}



/* -----
 左右方政黨選單
 */
.toggleMenu {
	position: absolute;
	right: 50px;
	top: 20px;
	z-index: 1;
}
.partyMenuItem {
	display: inline-block;
	margin: 16px 4px;
	cursor: pointer;
    text-align: center;
    font-weight: 600;
}
.toggleIcon {
	margin: 0 4px;
	vertical-align: top;
}
.partyMenuBlock {
	max-height: 0;
	overflow: hidden; 
	z-index: 1;	
}
.partyMenuBlock.show {
	position: relative;
	width: 100%;
	margin: 0 auto;
    
    height: 100vh;
    max-height: 2000px;
    top: 0;
    position: fixed;
    padding-top: 120px;
    z-index: 200;
    background: rgba(0,0,0,0.82);
}
.closeMenu {
	position: absolute;
    right: 30px;
    top: 20px;
    z-index: 1;
    cursor: pointer;
    color: white;
    font-size: 30px;
    display: none;
}
.partyMenuBlock.show .closeMenu {
	display: block;
}
@media all and (min-width: $rollWebBreak){
	.toggleMenu { display: none; }
	.partyMenuBlock {
		position: fixed;
    	width: 100%;
    	margin: 0 auto;
    	overflow: visible;
    	top: 20vw;
	}
}

.billboard {
	text-align: center;
	z-index: 10;
	margin: 0 auto;
}
.billboard.left {
	width: 240px;
}
.billboard.right {
	width: 280px;
	margin-top: 40px;
}
@media all and (min-width: $rollWebBreak){
	.billboard {
		position: absolute;
		margin: 0;
		width: calc(50vw - 280px);
	}
	.billboard.left {
		left: 0px;
		max-width: 310px;
		text-align: right;
	}
	.billboard.right {
		right: 0px;
		max-width: 320px;
		float: left;
		margin: 0;
	}
}