@import '../../common.scss';
@import '../../styles/actionButton.scss';
$rollSmallBreak: 800px;
$rollLargeBreak: 800px;
$rollExtraWideBreak: 1200px;
.pbWrap {
	position: relative;
	text-align: center;
	padding-bottom: 150px;
	min-height: 300px;
}
.pbInner {
	position: relative;
	margin-bottom: 150px;
}
.partyWrap {
	display: block;
	position: relative;
}
/* -----
捲軸造型
*/
.partyRollEndpoint {
	background-image: url('./images/top.png');
	background-size: 100%;

	width: 100vw;
	height: 20vw;

	position: absolute;
	left: 0;
	right: 0;
}
.partyRollEndpoint.top {
	top: 30px;
}
@media all and (min-width: $rollSmallBreak) and (max-width: $rollLargeBreak){
	.partyRollEndpoint.top {
		top: 20px;
	}
}
@media all and (min-width: $rollLargeBreak){
	.partyRollEndpoint.top {
		top: 0px;
	}
}
.partyRollEndpoint.bottom {
	bottom: -15vw;
}
@media all and (min-width: $rollLargeBreak){
	.partyRollEndpoint {
		width: 700px;
		height: 140px;
		margin: 0 auto;
	}
	.partyRollEndpoint.bottom {
		bottom: -100px;
	}
}
.partyRoll {
	text-align: left;
    line-height: 1.4;

    display: inline-block;
    margin: 40px auto 0 auto;

    background-image: url(./images/main.png);
    background-size: 100%;
    width: 100vw;
    min-height: 100vw;
    padding: 20vw 20vw 80px;//20vw 13vw 80px 6vw;

		> ol {
			margin: 0;
			padding: 0;
		}
}
@media all and (min-width: $rollSmallBreak) and (max-width: $rollLargeBreak){
	.partyRoll {
		//padding: 20vw 20vw 80px;//20vw 13vw 80px 8vw;
	}
}
@media all and (min-width: $rollLargeBreak){
	.partyRoll {
		width: 700px;
		min-height: 600px;
		padding: 100px 120px 50px; //100px 80px 50px 80px;
		font-size: 18px;
	}
}
/* ----
名單本體
*/
.kwWrap {
	text-align: center;
}
.keywords {
	font-size: 20px;
	font-weight: 600;
  margin: 0 auto 10px auto;
	padding: 0 4px;
  border: 1px solid $black;
  display: inline-block;
}
.partyTitle {
	margin-top: 6.8vw;
	font-size: 20px;
}
@media all and (min-width: 500px) {
	.partyTitle {
		transform: scale(1.25);
	}
}
@media all and (min-width: $rollLargeBreak){
	.partyTitle {
		margin-top: 50px;
		padding-top: 10px;
		text-align: center;
	}
}
.partyRoll ol{
	margin: 0;
}
.partyRoll li{
	margin: 0 0 8px 18px;
}
.partyEntryCount{
	display: none;
	font-weight: bold;
	text-align: center;
}
@media all and (min-width: $rollSmallBreak){
	.partyRoll li{
		display: flex;
		margin: 6px 0;
	}
	.partyEntryCount{
		display: block;
		flex: 40px 0 0;
	}
}
/* 現任立委小方塊 */
.metaInfo {
	margin: 0 0 4px 18px;
    font-size: 12px;
}
@media all and (min-width: $rollLargeBreak){
	.metaInfo {
		margin: 0 0 20px 0px;
		text-align: center;
    }
}
.metaIcon {
	width: 10px;
	height: 10px;
	background: $awesomeColor;
    display: inline-block;
    margin: 0 4px

}
.pbItem {
	position: relative;
}
.pbItem.current:before {
	content: '';
    width: 10px;
    height: 10px;
    background: $awesomeColor;
    position: absolute;
    left: -46px;
    top: 8px;
}
@media all and (min-width: $rollLargeBreak){
	.pbItem.current:before {
    	left: -6px;
    	top: 7px;
	}
}

.peopleEntryName {
	font-size: 18px;
	font-weight: 600;
	flex: 80px 0 0;
}
.peopleEntryInfo {
	color: rgb(27, 25, 25);
	flex: 1;
	padding-top: 2px;
	font-size: 16px;
}



/* -----
政黨列表選單
 */

.mobileMenuButton {
 	position: fixed;
    bottom: 40px;
    right: 20px;
    width: 60px;
    height: 60px;
    z-index: 1;
    background: $awesomeColor;
    color: white;
    border-radius: 100%;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.2);
}
.mobileMenuButton.hide {
	display: none;
}
.pbWrap.show .mobileMenuButton{
	z-index: 201;
}
@media all and (min-width: $rollLargeBreak){
	.mobileMenuButton {
		display: none;
	}
}
.toggleMenu {
	vertical-align: top;
	padding-top: 13px;
	font-size: 22px;
	cursor: pointer;
}
.toggleIcon {
	width: 42px;
    font-size: 15px;
    margin: 0 auto;
}
.removeIcon {
	width: 20px;
}



.pbWrap.show .toggleMenu {
	display: none;
}
.partyMenuBlock {
	max-height: 0;
	max-width: 1200px;
	overflow: hidden;
	z-index: 1;
}
.partyMenuBlock.show {
	position: relative;
	width: 100%;
	margin: 0 auto;

  height: 100vh;
  max-height: 2000px;
  top: 0;
  position: fixed;

  z-index: 200;
  background: rgba(0,0,0,0.82);
}
.closeMenu {
	cursor: pointer;
	font-size: 30px;
	padding-top: 10px;
  display: none;
}
.pbWrap.show .closeMenu {
	display: block;
}
@media all and (min-width: $rollLargeBreak){
	.toggleMenu { display: none; }
	.partyMenuBlock {
		position: fixed;
  	width: 100%;
		margin: 0 auto;
		overflow: visible;
		top: 20vw;
		left: 0;
	}
	.partyMenuBlock.notFixed {
		position: absolute;
		bottom: 0;
		top: auto;
		display: none; /* ---- to be refined */
	}
}
@media all and (min-width: 1200px) {
	.partyMenuBlock {
		left: 50%;
		margin-left: -600px;
	}
}
.billboard {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	z-index: 10;

	&:first-child {
		margin-top: 12vh;
	}
}
@media all and (min-width: 321px) {
	.billboard {
		width: 80%;
		max-width: 300px;
	}
}
@media all and (min-width: $rollLargeBreak) {
	.billboard {
		position: absolute;
		width: 25%;
		max-width: 300px;
		margin-top: 20px !important;

		&.left {
			left: 0;
		}
		&.right {
			right: 0;
		}
	}
}
.partyItem {
	display: inline-block;
	margin: 16px 4px;
	text-align: center;
	cursor: pointer;
}
