@import '../../common.scss';
.wrap {
	position: relative;
    max-width: 1000px;
    margin: 0 auto;
}
.bunItem, .bunItem:visited {
	display: inline-block;
    margin: 5px;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.12);
    background: white;
    padding: 26px 8px 30px 6px;
    width: 108px;
    height: 100px;
    font-size: 15px;
    vertical-align: top;
    cursor: pointer;
    text-decoration: none;
    color: $black;
}
.bunItem:hover {
	box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.22);
}
.bunItem.active {
    border: 2px solid #514E4E;
}
.partyNameWrap {
    margin-top: 4px; 
}
.partyName {
    border-bottom: 1px solid transparent;
    display: inline;
    padding-bottom: 1px;
}
.bunItem:hover .partyName {
    border-bottom: 1px solid $black;
}

