@import '../../common.scss';
$tableWebBreak: 800px;
.wrap {
	position: relative;
	background: #eee;
    padding: 10px;
    margin-top: 30px;
    text-align: left;

}
@media all and (min-width: $tableWebBreak){
	.wrap {
		max-width: 800px;
		margin: 30px auto 0 auto;
		box-shadow: 3px 3px rgba(0, 0, 0, 0.12);
	}
}

tr td {
	padding-bottom: 10px;
}
tr.canHover:hover {
	background: rgb(200,200,200);
}
td.head {
	text-align: center;
	border-bottom: 1px solid gray;
	padding: 0 4px 10px 4px;
}
td.partyName {
	width: 220px;
	padding-top: 10px;
}
@media all and (min-width: $tableWebBreak){
	td.partyName {
		padding-left:20px;
	}
}
td.bill {
	padding-left:20px;
	width: 200px;
	padding-top: 10px;
}
.bill.noReply {
	font-size: 12px;
	color: rgb(100,100,100);
}
td.billTitle {
	padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
}