@import '../../common.scss';
$billTableWebBreak: 500px;
$maxWidth: 720px;
.wrap {
	position: relative;
	background: #eee;
  padding: 10px 0;
  margin-top: 80px;
  text-align: left;
}
@media all and (min-width: $billTableWebBreak){
	.wrap {
		max-width: $maxWidth;
		margin: 80px auto 0 auto;
		box-shadow: 3px 3px rgba(0, 0, 0, 0.12);
	}
}
header {
	text-align: center;
}
.partyBillTable {
	position: relative;
}
/* 法案 title */
.billTitleWrap {
	position: relative;
}
.billTitleWrap.fixed {
	z-index: 1;
	position: fixed;
	top: 0;
	width: 100%;
	max-width: $maxWidth;
	background: white;
	box-shadow: 0 2px 1px 0 rgba(0,0,0,0.08);
}
.billTitles {
	display: flex;
	padding: 10px 0;
}
.billTitle {
	flex: 1;
	font-size: 14px;
	font-weight: 600;
}
@media all and (min-width: $billTableWebBreak){
	.billTitle {
    font-size: 18px;
	}
}
.partyEntry, .partyEntry:visited {
	display: flex;
	padding: 10px 0;
	color: $black;
	text-decoration: none;
	cursor: pointer;
}
.partyEntry:hover {
	background: rgba($awesomeColor, 0.15);
}
.partyName {
	flex: 1.2;
	font-size: 14px;
	padding: 0 10px;
}
@media all and (min-width: $billTableWebBreak){
	.party {
		margin: 3px 4px 3px 0;
	}
	.partyName {
		text-align: left;
		font-size: 16px;
	}
}
.nameFlex {
	display: flex;
}
.party {
	margin-right: 4px;
	flex: 14px 0 0;
}
.partyTitle {
	flex: 1;
}
.exLink {
	margin: 2px 0 0 4px;
    font-size: 8px;
    color: grey;
}

.bill {
	flex: 1;
	padding: 0 10px;
	font-size: 14px;
}
@media all and (min-width: $billTableWebBreak){
	.bill {
		font-size: 16px;
	}
}
.bill.noReply {
	font-size: 12px;
	color: rgb(100,100,100);
}
.noReplyImg {
	width: 20px;
}
.billMeta {
	font-size: 12px;
	margin: 15px;
}
