@import '../../common.scss';

.wrap {
	display: inline-block;
}
.optionImg {
	width: 50px;
	display: block;
}
.optionItem:hover .optionImg, .optionImg:hover, .optionImgActive {
	opacity: 1;
}
.optionItem, .optionItem:visited {
	display: inline-block;
	cursor: pointer;
	margin: 0 10px;
	text-decoration: none;
	color: $black;
}
.optionItemInactive, .optionItemInactive:visited {
	opacity: 0.25;
}
.optionItem:hover, .optionItemActive, .optionItemActive:visited, .optionItemInactive:hover {
	opacity: 1;
}
.invisible {
	display: block;
	max-height: 0;
	overflow: hidden;
}
