.wrap {
	display: inline-block;
}
.optionImg {
	width: 50px;
    display: block;
}
.optionItem:hover .optionImg, .optionImg:hover, .optionImgActive {
	opacity: 1;
}
.optionItem, .optionItem:visited {
	display: inline-block;
	cursor: pointer;
	margin: 10px;
	text-decoration: none;
}
.optionItemInactive, .optionItemInactive:visited {
	color: #cccccc;
}
.optionItem:hover, .optionItemActive, .optionItemActive:visited, .optionItemInactive:hover {
	color: rgb(53,55,54);
}
.optionImgInactive {
	opacity: 0.3;
}