.wrap {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #9ce5ff; }
  
div.city {
	cursor: pointer;
}
svg {
  display: block;
  margin: 0 auto; }

#bigmap #cities > #TPE {
  cursor: pointer; }
  #bigmap #cities > #TPE > #TPE-name {
    display: none; }
  #bigmap #cities > #TPE > polygon, #bigmap #cities > #TPE > path, #bigmap #cities > #TPE > polyline {
    fill: #aaa; }
#bigmap #cities > #TPE:hover > polygon, #bigmap #cities > #TPE:hover > path, #bigmap #cities > #TPE:hover > polyline {
  fill: white; }
#bigmap #cities > #TPE:hover > #TPE-name {
  display: block;
  fill: black; }
#bigmap #cities > #TPE.active > polygon, #bigmap #cities > #TPE.active > path, #bigmap #cities > #TPE.active > polyline {
  fill: white; }
#bigmap #cities > #NTC {
  cursor: pointer; }
  #bigmap #cities > #NTC > #NTC-name {
    display: none; }
  #bigmap #cities > #NTC > polygon, #bigmap #cities > #NTC > path, #bigmap #cities > #NTC > polyline {
    fill: #aaa; }
#bigmap #cities > #NTC:hover > polygon, #bigmap #cities > #NTC:hover > path, #bigmap #cities > #NTC:hover > polyline {
  fill: white; }
#bigmap #cities > #NTC:hover > #NTC-name {
  display: block;
  fill: black; }
#bigmap #cities > #NTC.active > polygon, #bigmap #cities > #NTC.active > path, #bigmap #cities > #NTC.active > polyline {
  fill: white; }
#bigmap #cities > #KEL {
  cursor: pointer; }
  #bigmap #cities > #KEL > #KEL-name {
    display: none; }
  #bigmap #cities > #KEL > polygon, #bigmap #cities > #KEL > path, #bigmap #cities > #KEL > polyline {
    fill: #aaa; }
#bigmap #cities > #KEL:hover > polygon, #bigmap #cities > #KEL:hover > path, #bigmap #cities > #KEL:hover > polyline {
  fill: white; }
#bigmap #cities > #KEL:hover > #KEL-name {
  display: block;
  fill: black; }
#bigmap #cities > #KEL.active > polygon, #bigmap #cities > #KEL.active > path, #bigmap #cities > #KEL.active > polyline {
  fill: white; }
#bigmap #cities > #TYN {
  cursor: pointer; }
  #bigmap #cities > #TYN > #TYN-name {
    display: none; }
  #bigmap #cities > #TYN > polygon, #bigmap #cities > #TYN > path, #bigmap #cities > #TYN > polyline {
    fill: #aaa; }
#bigmap #cities > #TYN:hover > polygon, #bigmap #cities > #TYN:hover > path, #bigmap #cities > #TYN:hover > polyline {
  fill: white; }
#bigmap #cities > #TYN:hover > #TYN-name {
  display: block;
  fill: black; }
#bigmap #cities > #TYN.active > polygon, #bigmap #cities > #TYN.active > path, #bigmap #cities > #TYN.active > polyline {
  fill: white; }
#bigmap #cities > #HCC {
  cursor: pointer; }
  #bigmap #cities > #HCC > #HCC-name {
    display: none; }
  #bigmap #cities > #HCC > polygon, #bigmap #cities > #HCC > path, #bigmap #cities > #HCC > polyline {
    fill: #aaa; }
#bigmap #cities > #HCC:hover > polygon, #bigmap #cities > #HCC:hover > path, #bigmap #cities > #HCC:hover > polyline {
  fill: white; }
#bigmap #cities > #HCC:hover > #HCC-name {
  display: block;
  fill: black; }
#bigmap #cities > #HCC.active > polygon, #bigmap #cities > #HCC.active > path, #bigmap #cities > #HCC.active > polyline {
  fill: white; }
#bigmap #cities > #HSZ {
  cursor: pointer; }
  #bigmap #cities > #HSZ > #HSZ-name {
    display: none; }
  #bigmap #cities > #HSZ > polygon, #bigmap #cities > #HSZ > path, #bigmap #cities > #HSZ > polyline {
    fill: #aaa; }
#bigmap #cities > #HSZ:hover > polygon, #bigmap #cities > #HSZ:hover > path, #bigmap #cities > #HSZ:hover > polyline {
  fill: white; }
#bigmap #cities > #HSZ:hover > #HSZ-name {
  display: block;
  fill: black; }
#bigmap #cities > #HSZ.active > polygon, #bigmap #cities > #HSZ.active > path, #bigmap #cities > #HSZ.active > polyline {
  fill: white; }
#bigmap #cities > #ZMI {
  cursor: pointer; }
  #bigmap #cities > #ZMI > #ZMI-name {
    display: none; }
  #bigmap #cities > #ZMI > polygon, #bigmap #cities > #ZMI > path, #bigmap #cities > #ZMI > polyline {
    fill: #aaa; }
#bigmap #cities > #ZMI:hover > polygon, #bigmap #cities > #ZMI:hover > path, #bigmap #cities > #ZMI:hover > polyline {
  fill: white; }
#bigmap #cities > #ZMI:hover > #ZMI-name {
  display: block;
  fill: black; }
#bigmap #cities > #ZMI.active > polygon, #bigmap #cities > #ZMI.active > path, #bigmap #cities > #ZMI.active > polyline {
  fill: white; }
#bigmap #cities > #TXG {
  cursor: pointer; }
  #bigmap #cities > #TXG > #TXG-name {
    display: none; }
  #bigmap #cities > #TXG > polygon, #bigmap #cities > #TXG > path, #bigmap #cities > #TXG > polyline {
    fill: #aaa; }
#bigmap #cities > #TXG:hover > polygon, #bigmap #cities > #TXG:hover > path, #bigmap #cities > #TXG:hover > polyline {
  fill: white; }
#bigmap #cities > #TXG:hover > #TXG-name {
  display: block;
  fill: black; }
#bigmap #cities > #TXG.active > polygon, #bigmap #cities > #TXG.active > path, #bigmap #cities > #TXG.active > polyline {
  fill: white; }
#bigmap #cities > #CHW {
  cursor: pointer; }
  #bigmap #cities > #CHW > #CHW-name {
    display: none; }
  #bigmap #cities > #CHW > polygon, #bigmap #cities > #CHW > path, #bigmap #cities > #CHW > polyline {
    fill: #aaa; }
#bigmap #cities > #CHW:hover > polygon, #bigmap #cities > #CHW:hover > path, #bigmap #cities > #CHW:hover > polyline {
  fill: white; }
#bigmap #cities > #CHW:hover > #CHW-name {
  display: block;
  fill: black; }
#bigmap #cities > #CHW.active > polygon, #bigmap #cities > #CHW.active > path, #bigmap #cities > #CHW.active > polyline {
  fill: white; }
#bigmap #cities > #NAN {
  cursor: pointer; }
  #bigmap #cities > #NAN > #NAN-name {
    display: none; }
  #bigmap #cities > #NAN > polygon, #bigmap #cities > #NAN > path, #bigmap #cities > #NAN > polyline {
    fill: #aaa; }
#bigmap #cities > #NAN:hover > polygon, #bigmap #cities > #NAN:hover > path, #bigmap #cities > #NAN:hover > polyline {
  fill: white; }
#bigmap #cities > #NAN:hover > #NAN-name {
  display: block;
  fill: black; }
#bigmap #cities > #NAN.active > polygon, #bigmap #cities > #NAN.active > path, #bigmap #cities > #NAN.active > polyline {
  fill: white; }
#bigmap #cities > #YLN {
  cursor: pointer; }
  #bigmap #cities > #YLN > #YLN-name {
    display: none; }
  #bigmap #cities > #YLN > polygon, #bigmap #cities > #YLN > path, #bigmap #cities > #YLN > polyline {
    fill: #aaa; }
#bigmap #cities > #YLN:hover > polygon, #bigmap #cities > #YLN:hover > path, #bigmap #cities > #YLN:hover > polyline {
  fill: white; }
#bigmap #cities > #YLN:hover > #YLN-name {
  display: block;
  fill: black; }
#bigmap #cities > #YLN.active > polygon, #bigmap #cities > #YLN.active > path, #bigmap #cities > #YLN.active > polyline {
  fill: white; }
#bigmap #cities > #CYC {
  cursor: pointer; }
  #bigmap #cities > #CYC > #CYC-name {
    display: none; }
  #bigmap #cities > #CYC > polygon, #bigmap #cities > #CYC > path, #bigmap #cities > #CYC > polyline {
    fill: #aaa; }
#bigmap #cities > #CYC:hover > polygon, #bigmap #cities > #CYC:hover > path, #bigmap #cities > #CYC:hover > polyline {
  fill: white; }
#bigmap #cities > #CYC:hover > #CYC-name {
  display: block;
  fill: black; }
#bigmap #cities > #CYC.active > polygon, #bigmap #cities > #CYC.active > path, #bigmap #cities > #CYC.active > polyline {
  fill: white; }
#bigmap #cities > #CYI {
  cursor: pointer; }
  #bigmap #cities > #CYI > #CYI-name {
    display: none; }
  #bigmap #cities > #CYI > polygon, #bigmap #cities > #CYI > path, #bigmap #cities > #CYI > polyline {
    fill: #aaa; }
#bigmap #cities > #CYI:hover > polygon, #bigmap #cities > #CYI:hover > path, #bigmap #cities > #CYI:hover > polyline {
  fill: white; }
#bigmap #cities > #CYI:hover > #CYI-name {
  display: block;
  fill: black; }
#bigmap #cities > #CYI.active > polygon, #bigmap #cities > #CYI.active > path, #bigmap #cities > #CYI.active > polyline {
  fill: white; }
#bigmap #cities > #TNN {
  cursor: pointer; }
  #bigmap #cities > #TNN > #TNN-name {
    display: none; }
  #bigmap #cities > #TNN > polygon, #bigmap #cities > #TNN > path, #bigmap #cities > #TNN > polyline {
    fill: #aaa; }
#bigmap #cities > #TNN:hover > polygon, #bigmap #cities > #TNN:hover > path, #bigmap #cities > #TNN:hover > polyline {
  fill: white; }
#bigmap #cities > #TNN:hover > #TNN-name {
  display: block;
  fill: black; }
#bigmap #cities > #TNN.active > polygon, #bigmap #cities > #TNN.active > path, #bigmap #cities > #TNN.active > polyline {
  fill: white; }
#bigmap #cities > #KHH {
  cursor: pointer; }
  #bigmap #cities > #KHH > #KHH-name {
    display: none; }
  #bigmap #cities > #KHH > polygon, #bigmap #cities > #KHH > path, #bigmap #cities > #KHH > polyline {
    fill: #aaa; }
#bigmap #cities > #KHH:hover > polygon, #bigmap #cities > #KHH:hover > path, #bigmap #cities > #KHH:hover > polyline {
  fill: white; }
#bigmap #cities > #KHH:hover > #KHH-name {
  display: block;
  fill: black; }
#bigmap #cities > #KHH.active > polygon, #bigmap #cities > #KHH.active > path, #bigmap #cities > #KHH.active > polyline {
  fill: white; }
#bigmap #cities > #PIF {
  cursor: pointer; }
  #bigmap #cities > #PIF > #PIF-name {
    display: none; }
  #bigmap #cities > #PIF > polygon, #bigmap #cities > #PIF > path, #bigmap #cities > #PIF > polyline {
    fill: #aaa; }
#bigmap #cities > #PIF:hover > polygon, #bigmap #cities > #PIF:hover > path, #bigmap #cities > #PIF:hover > polyline {
  fill: white; }
#bigmap #cities > #PIF:hover > #PIF-name {
  display: block;
  fill: black; }
#bigmap #cities > #PIF.active > polygon, #bigmap #cities > #PIF.active > path, #bigmap #cities > #PIF.active > polyline {
  fill: white; }
#bigmap #cities > #ILA {
  cursor: pointer; }
  #bigmap #cities > #ILA > #ILA-name {
    display: none; }
  #bigmap #cities > #ILA > polygon, #bigmap #cities > #ILA > path, #bigmap #cities > #ILA > polyline {
    fill: #aaa; }
#bigmap #cities > #ILA:hover > polygon, #bigmap #cities > #ILA:hover > path, #bigmap #cities > #ILA:hover > polyline {
  fill: white; }
#bigmap #cities > #ILA:hover > #ILA-name {
  display: block;
  fill: black; }
#bigmap #cities > #ILA.active > polygon, #bigmap #cities > #ILA.active > path, #bigmap #cities > #ILA.active > polyline {
  fill: white; }
#bigmap #cities > #HUN {
  cursor: pointer; }
  #bigmap #cities > #HUN > #HUN-name {
    display: none; }
  #bigmap #cities > #HUN > polygon, #bigmap #cities > #HUN > path, #bigmap #cities > #HUN > polyline {
    fill: #aaa; }
#bigmap #cities > #HUN:hover > polygon, #bigmap #cities > #HUN:hover > path, #bigmap #cities > #HUN:hover > polyline {
  fill: white; }
#bigmap #cities > #HUN:hover > #HUN-name {
  display: block;
  fill: black; }
#bigmap #cities > #HUN.active > polygon, #bigmap #cities > #HUN.active > path, #bigmap #cities > #HUN.active > polyline {
  fill: white; }
#bigmap #cities > #TTT {
  cursor: pointer; }
  #bigmap #cities > #TTT > #TTT-name {
    display: none; }
  #bigmap #cities > #TTT > polygon, #bigmap #cities > #TTT > path, #bigmap #cities > #TTT > polyline {
    fill: #aaa; }
#bigmap #cities > #TTT:hover > polygon, #bigmap #cities > #TTT:hover > path, #bigmap #cities > #TTT:hover > polyline {
  fill: white; }
#bigmap #cities > #TTT:hover > #TTT-name {
  display: block;
  fill: black; }
#bigmap #cities > #TTT.active > polygon, #bigmap #cities > #TTT.active > path, #bigmap #cities > #TTT.active > polyline {
  fill: white; }
#bigmap #cities > #MZG {
  cursor: pointer; }
  #bigmap #cities > #MZG > #MZG-name {
    display: none; }
  #bigmap #cities > #MZG > polygon, #bigmap #cities > #MZG > path, #bigmap #cities > #MZG > polyline {
    fill: #aaa; }
#bigmap #cities > #MZG:hover > polygon, #bigmap #cities > #MZG:hover > path, #bigmap #cities > #MZG:hover > polyline {
  fill: white; }
#bigmap #cities > #MZG:hover > #MZG-name {
  display: block;
  fill: black; }
#bigmap #cities > #MZG.active > polygon, #bigmap #cities > #MZG.active > path, #bigmap #cities > #MZG.active > polyline {
  fill: white; }
#bigmap #cities > #KNH {
  cursor: pointer; }
  #bigmap #cities > #KNH > #KNH-name {
    display: none; }
  #bigmap #cities > #KNH > polygon, #bigmap #cities > #KNH > path, #bigmap #cities > #KNH > polyline {
    fill: #aaa; }
#bigmap #cities > #KNH:hover > polygon, #bigmap #cities > #KNH:hover > path, #bigmap #cities > #KNH:hover > polyline {
  fill: white; }
#bigmap #cities > #KNH:hover > #KNH-name {
  display: block;
  fill: black; }
#bigmap #cities > #KNH.active > polygon, #bigmap #cities > #KNH.active > path, #bigmap #cities > #KNH.active > polyline {
  fill: white; }
#bigmap #cities > #MFK {
  cursor: pointer; }
  #bigmap #cities > #MFK > #MFK-name {
    display: none; }
  #bigmap #cities > #MFK > polygon, #bigmap #cities > #MFK > path, #bigmap #cities > #MFK > polyline {
    fill: #aaa; }
#bigmap #cities > #MFK:hover > polygon, #bigmap #cities > #MFK:hover > path, #bigmap #cities > #MFK:hover > polyline {
  fill: white; }
#bigmap #cities > #MFK:hover > #MFK-name {
  display: block;
  fill: black; }
#bigmap #cities > #MFK.active > polygon, #bigmap #cities > #MFK.active > path, #bigmap #cities > #MFK.active > polyline {
  fill: white; }
#bigmap #cities > #LAB {
  cursor: pointer; }
  #bigmap #cities > #LAB > #LAB-name {
    display: none; }
  #bigmap #cities > #LAB > polygon, #bigmap #cities > #LAB > path, #bigmap #cities > #LAB > polyline {
    fill: #aaa; }
#bigmap #cities > #LAB:hover > polygon, #bigmap #cities > #LAB:hover > path, #bigmap #cities > #LAB:hover > polyline {
  fill: white; }
#bigmap #cities > #LAB:hover > #LAB-name {
  display: block;
  fill: black; }
#bigmap #cities > #LAB.active > polygon, #bigmap #cities > #LAB.active > path, #bigmap #cities > #LAB.active > polyline {
  fill: white; }
#bigmap #cities > #MAB {
  cursor: pointer; }
  #bigmap #cities > #MAB > #MAB-name {
    display: none; }
  #bigmap #cities > #MAB > polygon, #bigmap #cities > #MAB > path, #bigmap #cities > #MAB > polyline {
    fill: #aaa; }
#bigmap #cities > #MAB:hover > polygon, #bigmap #cities > #MAB:hover > path, #bigmap #cities > #MAB:hover > polyline {
  fill: white; }
#bigmap #cities > #MAB:hover > #MAB-name {
  display: block;
  fill: black; }
#bigmap #cities > #MAB.active > polygon, #bigmap #cities > #MAB.active > path, #bigmap #cities > #MAB.active > polyline {
  fill: white; }

#citymap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.32); }
  #citymap > .city {
    display: none; }
  #citymap > #district-info {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background: white;
    color: black; }
    #citymap > #district-info > #name {
      margin: 14px 0;
      font-size: 18px; }
    #citymap > #district-info > #detail {
      margin: 14px 0;
      font-size: 14px; }
    #citymap > #district-info .subdistrict {
      display: inline-block;
      vertical-align: top;
      margin-right: 1em; }
    #citymap > #district-info .boroughs {
      font-size: 11px; }
      #citymap > #district-info .boroughs .borough {
        display: inline-block;
        vertical-align: top;
        margin-right: 1em; }
  #citymap > #close {
    width: 64px;
    height: 64px;
    margin: 64px auto;
    position: relative;
    background: white;
    cursor: pointer; }
    #citymap > #close.inactive {
      background: #aaa; }
    #citymap > #close:hover {
      background: lime; }
    #citymap > #close:before, #citymap > #close:after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background: black;
      position: absolute;
      top: calc(50% - 1px);
      left: 0;
      transform: rotate(45deg); }
    #citymap > #close:after {
      transform: rotate(-45deg); }
  #citymap #TPE > [id^=TPE]:not([id$='disabled']) {
    cursor: pointer; }
  #citymap #TPE > [id^=TPE]:hover > polygon, #citymap #TPE > [id^=TPE]:hover > path, #citymap #TPE > [id^=TPE]:hover > polyline {
    fill: lime; }
  #citymap #NTC > [id^=NTC]:not([id$='disabled']) {
    cursor: pointer; }
  #citymap #NTC > [id^=NTC]:hover > polygon, #citymap #NTC > [id^=NTC]:hover > path, #citymap #NTC > [id^=NTC]:hover > polyline {
    fill: lime; }
  #citymap #KEL > [id^=KEL]:not([id$='disabled']) {
    cursor: pointer; }
  #citymap #KEL > [id^=KEL]:hover > polygon, #citymap #KEL > [id^=KEL]:hover > path, #citymap #KEL > [id^=KEL]:hover > polyline {
    fill: lime; }
  #citymap #TYN > [id^=TYN]:not([id$='disabled']) {
    cursor: pointer; }
  #citymap #TYN > [id^=TYN]:hover > polygon, #citymap #TYN > [id^=TYN]:hover > path, #citymap #TYN > [id^=TYN]:hover > polyline {
    fill: lime; }
  #citymap #HCC > [id^=HCC]:not([id$='disabled']) {
    cursor: pointer; }
  #citymap #HCC > [id^=HCC]:hover > polygon, #citymap #HCC > [id^=HCC]:hover > path, #citymap #HCC > [id^=HCC]:hover > polyline {
    fill: lime; }
  #citymap #HSZ > [id^=HSZ]:not([id$='disabled']) {
    cursor: pointer; }
  #citymap #HSZ > [id^=HSZ]:hover > polygon, #citymap #HSZ > [id^=HSZ]:hover > path, #citymap #HSZ > [id^=HSZ]:hover > polyline {
    fill: lime; }
  #citymap #ZMI > [id^=ZMI]:not([id$='disabled']) {
    cursor: pointer; }
  #citymap #ZMI > [id^=ZMI]:hover > polygon, #citymap #ZMI > [id^=ZMI]:hover > path, #citymap #ZMI > [id^=ZMI]:hover > polyline {
    fill: lime; }
  #citymap #TXG > [id^=TXG]:not([id$='disabled']) {
    cursor: pointer; }
  #citymap #TXG > [id^=TXG]:hover > polygon, #citymap #TXG > [id^=TXG]:hover > path, #citymap #TXG > [id^=TXG]:hover > polyline {
    fill: lime; }
  #citymap #CHW > [id^=CHW]:not([id$='disabled']) {
    cursor: pointer; }
  #citymap #CHW > [id^=CHW]:hover > polygon, #citymap #CHW > [id^=CHW]:hover > path, #citymap #CHW > [id^=CHW]:hover > polyline {
    fill: lime; }
  #citymap #NAN > [id^=NAN]:not([id$='disabled']) {
    cursor: pointer; }
  #citymap #NAN > [id^=NAN]:hover > polygon, #citymap #NAN > [id^=NAN]:hover > path, #citymap #NAN > [id^=NAN]:hover > polyline {
    fill: lime; }
  #citymap #YLN > [id^=YLN]:not([id$='disabled']) {
    cursor: pointer; }
  #citymap #YLN > [id^=YLN]:hover > polygon, #citymap #YLN > [id^=YLN]:hover > path, #citymap #YLN > [id^=YLN]:hover > polyline {
    fill: lime; }
  #citymap #CYC > [id^=CYC]:not([id$='disabled']) {
    cursor: pointer; }
  #citymap #CYC > [id^=CYC]:hover > polygon, #citymap #CYC > [id^=CYC]:hover > path, #citymap #CYC > [id^=CYC]:hover > polyline {
    fill: lime; }
  #citymap #CYI > [id^=CYI]:not([id$='disabled']) {
    cursor: pointer; }
  #citymap #CYI > [id^=CYI]:hover > polygon, #citymap #CYI > [id^=CYI]:hover > path, #citymap #CYI > [id^=CYI]:hover > polyline {
    fill: lime; }
  #citymap #TNN > [id^=TNN]:not([id$='disabled']) {
    cursor: pointer; }
  #citymap #TNN > [id^=TNN]:hover > polygon, #citymap #TNN > [id^=TNN]:hover > path, #citymap #TNN > [id^=TNN]:hover > polyline {
    fill: lime; }
  #citymap #KHH > [id^=KHH]:not([id$='disabled']) {
    cursor: pointer; }
  #citymap #KHH > [id^=KHH]:hover > polygon, #citymap #KHH > [id^=KHH]:hover > path, #citymap #KHH > [id^=KHH]:hover > polyline {
    fill: lime; }
  #citymap #PIF > [id^=PIF]:not([id$='disabled']) {
    cursor: pointer; }
  #citymap #PIF > [id^=PIF]:hover > polygon, #citymap #PIF > [id^=PIF]:hover > path, #citymap #PIF > [id^=PIF]:hover > polyline {
    fill: lime; }
  #citymap #ILA > [id^=ILA]:not([id$='disabled']) {
    cursor: pointer; }
  #citymap #ILA > [id^=ILA]:hover > polygon, #citymap #ILA > [id^=ILA]:hover > path, #citymap #ILA > [id^=ILA]:hover > polyline {
    fill: lime; }
  #citymap #HUN > [id^=HUN]:not([id$='disabled']) {
    cursor: pointer; }
  #citymap #HUN > [id^=HUN]:hover > polygon, #citymap #HUN > [id^=HUN]:hover > path, #citymap #HUN > [id^=HUN]:hover > polyline {
    fill: lime; }
  #citymap #TTT > [id^=TTT]:not([id$='disabled']) {
    cursor: pointer; }
  #citymap #TTT > [id^=TTT]:hover > polygon, #citymap #TTT > [id^=TTT]:hover > path, #citymap #TTT > [id^=TTT]:hover > polyline {
    fill: lime; }
  #citymap #MZG > [id^=MZG]:not([id$='disabled']) {
    cursor: pointer; }
  #citymap #MZG > [id^=MZG]:hover > polygon, #citymap #MZG > [id^=MZG]:hover > path, #citymap #MZG > [id^=MZG]:hover > polyline {
    fill: lime; }
  #citymap #KNH > [id^=KNH]:not([id$='disabled']) {
    cursor: pointer; }
  #citymap #KNH > [id^=KNH]:hover > polygon, #citymap #KNH > [id^=KNH]:hover > path, #citymap #KNH > [id^=KNH]:hover > polyline {
    fill: lime; }
  #citymap #MFK > [id^=MFK]:not([id$='disabled']) {
    cursor: pointer; }
  #citymap #MFK > [id^=MFK]:hover > polygon, #citymap #MFK > [id^=MFK]:hover > path, #citymap #MFK > [id^=MFK]:hover > polyline {
    fill: lime; }
  #citymap #LAB > [id^=LAB]:not([id$='disabled']) {
    cursor: pointer; }
  #citymap #LAB > [id^=LAB]:hover > polygon, #citymap #LAB > [id^=LAB]:hover > path, #citymap #LAB > [id^=LAB]:hover > polyline {
    fill: lime; }
  #citymap #MAB > [id^=MAB]:not([id$='disabled']) {
    cursor: pointer; }
  #citymap #MAB > [id^=MAB]:hover > polygon, #citymap #MAB > [id^=MAB]:hover > path, #citymap #MAB > [id^=MAB]:hover > polyline {
    fill: lime; }

/*# sourceMappingURL=styles.css.map */