.wrap {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #9ce5ff; 
}
g {
  cursor: pointer;
}
/* 台灣地圖上的縣市名稱 */
.cityName {
  display: none;
}
.cityName.active {
  display: block;
}
/* 詳細選區 */
.city {
  fill: white;
  display: none;
}
.city.active {
  display: block;
}
