$breakMedium: 600px;
$breakLarge: 800px;
.wrap {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
}
@media all and (min-width: 600px) and (max-width: 723px){
  .wrap{
    text-align: center;
  }
}
@media all and (min-width: 733px) and (max-width: 999px){
  .wrap{
    text-align: center;
  }
}
.missionStatusBlock {
  display: block;
  padding-right: 10px;
}
.star {
  color: #b88234;
  font-size: 30px;
  margin-right: 4px;
}
.missionStatusText {
  color: #b88234;
  font-weight: 800;
  display: inline-block;
  vertical-align: top;
  padding-top: 6px;
}

.coverItem, .coverItem:visited {
  text-decoration: none;
  display: block;

  margin: 10px;
  height: 220px;
  width: calc(100% - 20px);

  overflow: hidden;

  display: inline-block;  
  margin: 2.5% 1.5%;
  color: black;
}
a.coverItem, a.coverItem:visited {
  background: #fff;
  cursor: pointer;
  box-shadow: 3px 3px 0px #ccc;
  padding: 24px 4px 34px 7px;
  vertical-align: top;
  color: #7F7979;
  text-align: center;
}
@media all and (min-width: $breakMedium) {
	.coverItem, .coverItem:visited {
      width: 220px;
      
    }

}
a.coverItem:hover {
  //background: #d9d9d9;
  box-shadow: 0 0 0 1px rgba(217, 183, 135, 0.76),0 0px 20px rgb(214, 164, 92);
  color: #464242;
  transition: all 100ms ease-in-out;
}
.coverImg {
  height: calc(100% - 50px );
  display: block;
  margin: 0 auto 8px auto;
  border-radius: 5px;
}
.coverTitleBlock {
  text-align: center;

}
.coverTitle {
  color: #b88234;
  font-size: 24px;
  margin: 0 4px 8px 10px;
  font-weight: 800;
  display: inline-block;
}
.completedCoverTitle {
  color: #7F7979;
  display: inline-block;
}
.comingText {
  padding: 76px 0;
  text-align: center;
  border: 6px dotted #ccc;
  border-radius: 5px;
  font-size: 22px;
  color: #797979;
}