@import '../../common.scss';

$itemSize: 240px;
.wrap {
	position: relative;
	max-width: 720px; /* 3 castles */
	margin: 0 auto 60px;
	text-align: center;
}
.wrap.embed {
	display: inline;
}
/* 手機上 safari 需要指定 block */
.coverItem, .coverItem:visited {
	text-decoration: none;
	display: block;
	vertical-align: middle;
	width: 240px;
	margin: 0 auto;
	padding: 0;
  	overflow: hidden;
  	color: $black;
	text-align: center;
	cursor: pointer;
	transition: color 100ms ease-in-out;
}
/* 用在 embed 需要白色背景 */
.coverItem.embed {
	background: rgba(250,250,250,0.4);
	margin: 10px;
	padding: 20px 10px;
	vertical-align: top;
	
}

@media all and (min-width: 480px) {
	.coverItem, .coverItem:visited {
		display: inline-block;
		margin: 0;
	}
}
@media all and (max-width: ($itemSize - 1px)) {
	.coverItem, .coverItem:visited {
		width: 96%;
		margin: 0 2%;
	}
}
.coverItem:hover .coverImg {
	@include prefix(filter, drop-shadow(0 0 15px rgba(0, 255, 255, 0.75)));
}
.coverImg {
    display: block;
	width: 100%;
}
.coverTitleBlock {
  text-align: center;
	line-height: 24px;
}
.coverTitle {
  color: $awesomeColor;
  font-size: 24px;
  margin: 0 2px;
  font-weight: bold;
  display: inline-block;
}
.completedCoverTitle {
	color: $black;
}
.coverQuestion {
	line-height: 32px;
}
.missionStatusBlock {
  display: block;
	> * {
		@include inline-middle;
	}
}
.missionStatusText {
  color: $awesomeColor;
  font-weight: bold;
}
.star {
  transition: transform 0.5s ease-in-out;
}
.coverItem:hover .star {
	@include prefix(filter, drop-shadow(0 0 3px gold));
	transform: rotate(180deg);
}
.comingText {
  text-align: center;
  font-size: 20px;
  color: $grey;
}
.coverItem.embed .comingText {
	color: #302F2F;
	margin-bottom: 10px;
}
