@import '../../common.scss';
$breakMedium: 600px;
$breakLarge: 800px;
.innerWrap {
  padding-top: 40vh;
  text-align: center;
}
.tempLink, .tempLink:visited {
  text-decoration: none;
  border: 1px solid;
  display: inline-block;
  color: black;
  padding: 30px 20px;
  margin: 10px;
}
/* ------------- */
.home {
  position: relative;
}
.invisible {
  max-height: 0;
  overflow: hidden;
}

.contentWrap {
  padding: 60px 0 0;
  border-top: 1px solid rgb(232, 246, 251);
}
.innerWrap {
  max-width: 1200px;
  margin: 0 auto;
}
