// $themeColor: #006060;
// $secondaryColor: #97B5B5; /* 用在 Footer，搭配作為較不強調色 */

// $themeColor: #444444;
// $secondaryColor: #E4E4E4;

/* http://colorhunt.co/#e8e3c7d4ceb0b85b3fa65238 */
// $themeColor: #A65238;
// $secondaryColor: #E8E3C7;
// $textColor: white;

$themeColor: rgb(250,250,250);
$secondaryColor: black;
$textColor: rgb(53,55,54);
