// colors
$trueWhite: #fff;
$trueBlack: #000;
$white: #f5f5f5;
$darkGrey: #555;
$grey: #aaa;
$lightGrey: #ddd;
$black: #0f0f0f;
$awesomeColor: #005060;
$defaultBackgroundColor: #eee;
$textColor: $black; // deprecating textColor
$glow: yellow;

// typography
$defaultFontSize: 16px;
$smallerFontSize: 14px;

$defaultLineHeight: 1.25;
$textLineHeight: 1.5;

$symbolSize: 32px;
.symbol {
  display: inline-block;
  width: $symbolSize;
  height: $symbolSize;
  margin: 0;
  padding: 0;
}

@mixin ia($color) {
  color: $color;
  &:hover {
    border-bottom-color: $color;
  }
}
a.ia {
  line-height: $defaultLineHeight;
  text-decoration: none;
  border-bottom: 1px solid transparent;

  &.bright { @include ia($awesomeColor); }
  &.black { @include ia($black); }
  &.dim { @include ia($grey); }
  &.inverted { @include ia($white); }
  &.big {
    border-bottom-width: 3px;
  }
}
a.ia.line {
  border-bottom: 1px solid #6F6666;
  padding-bottom: 0;
  margin: 1px;
  display: inline-block;
}
a.ia.line:hover {
  color: black;
}
a.ia.line.gray {
  border-bottom: 1px solid #555;
  color: #555;
}
a.ia.line.gray:hover {
  color: black;
}

// css common mixins
@mixin inline-middle {
  display: inline-block;
  vertical-align: middle;
}

@mixin prefix($key, $val) {
  -webkit-#{$key}: $val;
	-ms-#{$key}: $val;
	#{$key}: $val;
}

@mixin transform($val) {
  @include prefix('transform', $val);
}

// dimensions
$contentMaxWidth: 1200px;

$appBarBreakLarge: 850px;
$appBarHeight: 54px;
$appBarHeightExtended: 76px;

// z-index
$zPlayingVideo: 999;
$zAppBar: 99;
$zProcessingIndicator: 99;
$zMaXiLegislatorControl: 9;
$zShowCardBack: 999;

// 表態
$ayeColor: #00FFB0;
$nayColor: #FF0055;
$unknownColor: #FFF800;
.aye { background: $ayeColor; }
.nay { background: $nayColor; }
.unknown { background: $unknownColor; }
.none { background: gray; }
$defaultCubeSize: 20px;
$noneColor: gray;

// 黨旗
.partyFlag {
  display: inline-block;
  vertical-align: top;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.partyFlag.tiny {
  width: 14px;
  height: 14px;
}
.partyFlag.small {
  width: 22px;
  height: 22px;
}
.partyFlag.large {
  width: 74px;
  height: 74px;
}
$parties: 'chty','cpp','dasg','dpp','fhl','ftp','gsd','jp','kmt','lp','mcfap','mkt','mpr','nhsa','none','np','npp','nsu','pdf','peup','pfp','ppu','swp','tfnp','tip','tlp','tp','tsu','twp';
@each $party in $parties {
  .partyFlag.#{to-upper-case($party)} { background-image: url(images/flags_#{$party}.svg); };
}

/*
.partyFlag.CHTY { background-image: url(images/flag_chty.svg); }
.partyFlag.KMT { background-image: url(images/flag_kmt.svg); }
.partyFlag.DPP { background-image: url(images/flag_dpp.svg); }
.partyFlag.GSD { background-image: url(images/flag_gsd.svg); }
.partyFlag.MKT { background-image: url(images/flag_mkt.svg); }
.partyFlag.NONE { background-image: url(images/flag_none.svg); }
.partyFlag.NP { background-image: url(images/flag_np.svg); }
.partyFlag.NPP { background-image: url(images/flag_npp.svg); }
.partyFlag.PFP { background-image: url(images/flag_pfp.svg); }
.partyFlag.TSU { background-image: url(images/flag_tsu.svg); }
.partyFlag.NSU { background-image: url(images/flag_nsu.svg); }
*/
