// colors
$trueWhite: #fff;
$trueBlack: #000;
$white: #f5f5f5;
$grey: #aaa;
$lightGrey: #ddd;
$black: #0f0f0f;
$awesomeColor: #005060;
$defaultBackgroundColor: #eee;
$textColor: $black; // deprecating textColor
$glow: aqua;

// typography
$defaultFontSize: 16px;
$smallerFontSize: 14px;

$defaultLineHeight: 1.25;

$symbolSize: 32px;
.symbol {
  display: inline-block;
  width: $symbolSize;
  height: $symbolSize;
  margin: 0;
  padding: 0;
}

@mixin ia($color) {
  color: $color;
  &:hover {
    border-bottom-color: $color;
  }
}
a.ia {
  line-height: $defaultLineHeight;
  text-decoration: none;
  border-bottom: 1px solid transparent;

  &.bright { @include ia($black); }
  &.dim { @include ia($grey); }
  &.inverted { @include ia($white); }
  &.big {
    border-bottom-width: 3px;
  }
}

// css common mixins
@mixin inline-middle {
  display: inline-block;
  vertical-align: middle;
}

@mixin prefix($key, $val) {
  -webkit-#{$key}: $val;
	-ms-#{$key}: $val;
	#{$key}: $val;
}

// dimensions
$contentMaxWidth: 1200px;

$appBarBreakLarge: 720px;
$appBarHeight: 54px;
$appBarHeightExtended: 82px;

// z-index
$zAppBar: 99999;
