@import '../../common.scss';

$webVersionBreak: 800px;
.wrap {
  width: 90vw;
  margin: 0 4px;
  position: relative;
  display: inline-block;
}
@media all and (min-width: $webVersionBreak){
    .wrap {
      width: 50%;
      margin: 0 auto;
    }
}
.title {

  margin: 20px 0;
  position: absolute;
  text-align: center;
  font-size: 24px;
  top: -20px;
  color: white;
  left: calc(50% - 34px);
  width: auto;
  padding: 2px 10px;
  background: black;
}
@media all and (min-width: $webVersionBreak){
    .title {
        padding: 2px 18px;
    }
}

/* 每個選區應該要填什麼顏色 */
.district.aye {
  fill: #00FFB0;
}
.district.nay {
  fill: #FF0055;
}
.district.none {
  fill: gray;
}
@media all and (min-width: $webVersionBreak){
    g {
      cursor: pointer; 
    }
    /* hover on, lighter */
    .district.aye:hover, .district.aye.active {
      fill: lighten(#00FFB0, 20%);
    }
    .district.nay:hover, .district.nay.active{
      fill: lighten(#FF0055, 20%);
    }
    .district.none:hover, .district.none.active {
      fill: lighten(gray, 20%);
    } 
}

