.CandidatesHoldSigns {
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	overflow-x: scroll;
}
@media all and (min-width: 450px){
	.CandidatesHoldSigns {
		max-height: 1000px;
		overflow: visible;
		background: rgb(250,250,250);
	}
}
