@import '../../common.scss';

$breakMedium: 600px;
$breakLarge: 1000px;
.wrap {
	text-align: center;
	position: relative;
}
.main {
	padding: 30px 0;
}
.summary {
	position: relative;
	max-width: $breakMedium;
	min-height: 120px; // 為了讓「切換議題」完整顯示
	margin: 0 auto;
}
.summary > .positionSquare {
	margin-bottom: 20px;
}
.table {
}
.menuBlock {
	font-size: $smallerFontSize;
	text-align: right;
	position: absolute;
	right: 0;
	top: 0;
	//width: 7em;
}
@media screen and (max-width: $breakMedium) {
	.menuBlock {
		right: 8px;
	}
}
.menuTitle, .menuTitle:visited {
	cursor: pointer;
	padding: 0 0 4px;
}
.menu {
	padding: 4px 0;
	opacity: 0.75;
}
.menu.menuActive {
	opacity: 1;
}
@media screen and (min-width: $breakLarge){
	.main {
		//padding: 40px 120px 100px 0;
	}
	.summary {
		display: inline-block;
		vertical-align: top;
		margin-right: 20px;
	}
	.menuBlock {
		position: relative;
		text-align: left;
		margin-top: 40px;
	}
	.menu, .menu:visited, .menuTitle, .menuTitle:visited {
		//display: block;
	}
	.table {
		display: inline-block;
	}
}
