
@import '../../common.scss';
.wrap {
	display: inline-block;
}
.name {
	vertical-align: top;
	padding-top: 16px;
	margin-left: 5px;
    text-align: center;
}

.people-title {
    text-align: center;
    // height: 240px;
    // background: url(./images/intitle-common.png) center bottom;
    // background-size: cover;
    // overflow: hidden;
    margin-bottom: 0px;
    background: white;
    padding: 30px 0 50px 0;
    margin-bottom: 0px;
}

.inner-title {
    margin: 0 -9% 30px -9%;
    height: 200px;
    position: relative;
}
.people-basic-info {
    width: 430px;
    margin: auto;
    text-align: left;
    padding: 25px 0 0 0;
    height: 150px;
}
.name, .name:visited {
    font-size: 30px;
    float: left;
    margin: 0 10px 0 7px;
    padding: 0;
    color: black;
    text-decoration: none;
}
.name:hover {
    text-decoration: underline;
}
.people-basic-info .party-flag-s {
    float: left;
    margin: 0 5px 0 0;
}
.people-basic-info .party {
    float: left;
    margin: 10px 0 0 0;
}
.people-basic-info span {
    float: left;
}
.basic-txt {
    float: left;
    width: 290px;
}
.infoP {
    font-size: 18px;
    border-bottom: 1px dotted #ccc;
    margin: 8px 0;
    padding: 0 0 5px 5px;
}
.infoP.engStart {
    padding-left: 8px;
}
.people-pic {
    width: 110px;
    height: 110px;
    overflow: hidden;
    border-radius: 100%;
    float: left;
    margin: 0 10px 0 0;
    //border: 5px solid rgb(250,250,250);
}
.people-pic img {
    width: 100%;
}
.party-flag {
    width: 40px;
    height: 40px;
    margin: 20px auto 10px auto;
    border-radius: 50px;
    border: 8px solid #000;
}
/*黨旗設定*/
.party-flag.KMT {
    background: url(./images/flag-kmt.svg);
}

.party-flag.DPP {
    background: url(./images/flag-dpp.svg);
}
.party-flag.GSD {
    background: url(./images/flag-gsd.svg);
}

.party-flag.MKT {
    background: url(./images/flag-mkt.svg);
}
.party-flag.NONE {
    background: url(./images/flag-none.svg);
}
.party-flag.NP {
    background: url(./images/flag-np.svg);
}
.party-flag.NSU {
    background: url(./images/flag-npp.svg);
}
.party-flag.PFP {
    background: url(./images/flag-pfp.svg);
}
.party-flag.TSU {
    background: url(./images/flag-tsu.svg);
}

.party-flag-s {
    border: none;
    width: 20px;
    height: 20px;
    margin: 0px;
}