
@import '../../common.scss';
.wrap {
	display: block;
	padding: 20px 0;
	background: $trueWhite;
}
.avatar {
	text-decoration: none;
	width: 160px;
	height: 160px;
	margin: 0 auto;
	border: 4px solid $lightGrey;
	border-radius: 50%;
	background: $trueWhite;
}
.partyEng {
	display: inline-block;
	margin-left: 4px;
}
.partyTitle {
	margin-left: 3px;
}
.partyPeriod {
	display: inline-block;
}
.peopleName {
	margin: 4px 0;
	> * {
		@include inline-middle;
	}
	.name {
		font-size: 40px;
		font-weight: bold;
	}
	.party {
		margin: 0 4px;
	}
	.partyTitle {
		margin-left: 4px;
		font-size: 24px;
		line-height: 1;
	}
}
.peopleDetail {
	p {
		margin: 4px 0;
	}
}
