@import '../../common.scss';
.wrap {
	display: block;
}
.partyTitle {
    text-align: center;
    background: $trueWhite;
    padding: 40px 0;
}
.partyTitle h1 {
    font-size: 40px;
		margin: 10px 0;
}
.partyTitle p {
    margin: 0;
}
.partyTitle .detail {
	margin: 0;
}
p.legislatorInfo {
	margin-top: 10px;
}