@import '../../common.scss';
.wrap {
	display: inline-block;
}
.name {
	vertical-align: top;
	padding-top: 16px;
	margin-left: 5px;
    text-align: center;
}
.party-title, .people-title {
    text-align: center;
    // height: 240px;
    // background: url(./images/intitle-common.png) center bottom;
    // background-size: cover;
    // overflow: hidden;
    // margin-bottom: 0px;
    background: white;
    padding: 30px 0 50px 0;
    margin-bottom: 0px;
}
.people-basic-info {
    width: 430px;
    margin: auto;
    text-align: left;
    padding: 25px 0 0 0;
    height: 150px;
}
.party-flag {
    width: 40px;
    height: 40px;
    margin: 20px auto 10px auto;
    border-radius: 50px;
    border: 8px solid #000;
}
.party-title h1 {
    font-size: 36px;
}
.party-title p {
    margin: 0px;
}

/*黨旗設定*/
.party-flag.KMT {
    background: url(./images/flag-kmt.svg);
}
.party-flag.DPP {
    background: url(./images/flag-dpp.svg);
}
.party-flag.GSD {
    background: url(./images/flag-gsd.svg);
}
.party-flag.MKT {
    background: url(./images/flag-mkt.svg);
}
.party-flag.NONE {
    background: url(./images/flag-none.svg);
}
.party-flag.NP {
    background: url(./images/flag-np.svg);
}
.party-flag.NSU {
    background: url(./images/flag-npp.svg);
}
.party-flag.PFP {
    background: url(./images/flag-pfp.svg);
}
.party-flag.TSU {
    background: url(./images/flag-tsu.svg);
}